# [DataManim-작업1유형](https://www.datamanim.com/dataset/03_dataq/typeone.html#id2)

1. 유튜브 인기동영상 데이터 << 
2. 유튜브 공범컨텐츠 동영상 데이터
3. 월드컵 출전선수 골기록 데이터
4. 서울시 따릉이 이용정보 데이터
5. 전세계 행복도 지표 데이터
6. 지역구 에너지 소비량 데이터
7. 포켓몬 정보 데이터
8. 대한민국 체력장 데이터
9. 기온 강수량 데이터
10. 서비스 이탈예측 데이터
11. 성인 건강검진 데이터
12. 자동차 보험가입 예측데이터
13. 핸드폰 가격 예측데이터
14. 비행탑승 경험 만족도 데이터
15. 수질 음용성 여부 데이터
16. 의료 비용 예측 데이터
17. 킹카운티 주거지 가격예측문제 데이터
18. 대학원 입학가능성 데이터
19. 레드 와인 퀄리티 예측 데이터
20. 약물 분류 데이터
21. 사기회사 분류 데이터
22. 센서데이터 동작유형 분류 데이터
23. 현대 차량 가격 분류문제 데이터
24. 당뇨여부판단 데이터
25. 넷플릭스 주식 데이터
26. 220510추가

## 유튜브 인기동영상 데이터
- 데이터: [출처-캐글](https://www.kaggle.com/rsrishav/youtube-trending-video-dataset?select=KR_youtube_trending_data.csv)
- 데이터 설명 : 유튜브 데일리 인기동영상 (한국)
- 가공 dataurl : https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/youtube.csv

In [1]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/youtube.csv",index_col=0)
df.head()

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,[신병] 물자창고,장삐쭈,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,RAIN(비) - 나로 바꾸자 Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01
2,2020년 제야의 종 온라인 타종행사 | 보신각 현장 행사는 진행하지 않습니다.,서울시 · Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01
3,고기남자의 칠면조 파티,고기남자 MeatMan,26,528458,15372,280,3470,UCT3CumbFIJiW33uq0UI3zlg,2021-01-01
4,골목 3mc를 분노하게 만든 마음고생이 심했을 공릉 백반집 사장님의 푸념?! [예능...,스브스밥집,24,494904,3918,111,3142,UCdWgRSfttvDucq4ApcCg5Mw,2021-01-01

In [148]:
######  ######  ######  ######  ######  ######  ######  ######

### 인기동영상 제작횟수가 많은 채널 상위 10개명을 출력하라 (날짜기준, 중복포함)

In [2]:
df.columns

Index(['title', 'channelTitle', 'categoryId', 'view_count', 'likes',
       'dislikes', 'comment_count', 'channelId', 'trending_date2'],
      dtype='object')

In [9]:
# print(df.channelTitle.value_counts().head(10).index)
print(list(df.channelTitle.value_counts().head(10).index))

['짤툰', '파뿌리', 'SPOTV', '런닝맨 - 스브스 공식 채널', '엠뚜루마뚜루 : MBC 공식 종합 채널', '장삐쭈', 'BANGTANTV', '채널 십오야', '이과장', '총몇명']

답: ['장삐쭈', '총몇명', '파뿌리', '짤툰', '런닝맨 - 스브스 공식 채널', '엠뚜루마뚜루 : MBC 공식 종합 채널', 'SPOTV', '채널 십오야', '이과장', 'BANGTANTV']
> answer =list(df.loc[df.channelId.isin(df.channelId.value_counts().head(10).index)].channelTitle.unique());
print(answer)

뭐가 더 긴데, 답은 같다. list 붙여주면 정답 형식에 더 알맞다

In [148]:
######  ######  ######  ######  ######  ######  ######  ######

### 논란으로 인기동영상이 된 케이스를 확인하고 싶다. dislikes수가 like 수보다 높은 동영상을 제작한 채널을 모두 출력하라

In [18]:
print(list(df.loc[df['dislikes'] > df['likes'], 'channelTitle'].unique()))

['핫도그TV', 'ASMR 애정TV', '하얀트리HayanTree', '양팡 YangPang', '철구형 (CHULTUBE)', '왜냐맨하우스', '(MUTUBE)와꾸대장봉준', '오메킴TV', '육지담', 'MapleStory_KR', 'ROAD FIGHTING CHAMPIONSHIP', '사나이 김기훈', '나혼자산다 STUDIO', 'Gen.G esports']

답: ['핫도그TV', 'ASMR 애정TV', '하얀트리HayanTree', '양팡 YangPang', '철구형 (CHULTUBE)', '왜냐맨하우스', '(MUTUBE)와꾸대장봉준', '오메킴TV', '육지담', 'MapleStory_KR', 'ROAD FIGHTING CHAMPIONSHIP', '사나이 김기훈', '나혼자산다 STUDIO', 'Gen.G esports']
> answer =list(df.loc[df.likes < df.dislikes].channelTitle.unique()) <p>
print(answer)

In [148]:
######  ######  ######  ######  ######  ######  ######  ######

### 채널명을 바꾼 케이스가 있는지 확인하고 싶다. channelId의 경우 고유값이므로 이를 통해 채널명을 한번이라도 바꾼 채널의 개수를 구하여라

In [46]:
# print(df.columns)
# df.groupby(['channelId','channelTitle'])['channelTitle'].count()
# print(len(df['channelId'].unique())) # 1770 개. 만약 시험이었으면 1770개 for문 돌렸을듯
df.loc[df['channelId']=='UC-0C8yVGJy-cS4FGlYKelWw','channelTitle'].unique()

## channelId 당 딸린 channelTitle 의 고윳값이 여러 개인 걸 찾고 싶다.
# df[['channelId','channelTitle']].value_counts()

array(['세계는지금'], dtype=object)

모르겠다. 정답 참조:
#### 중복제거 : df[['컬럼1', '컬럼2']].drop_duplicates()

In [45]:
change = df[['channelTitle','channelId']].drop_duplicates().channelId.value_counts()
target = change[change>1]
print(len(target))

71

In [90]:
# df[['channelTitle','channelId']]
# df[['channelTitle','channelId']].drop_duplicates() # 인기 동영상에 여럿 올라갔어도 1개씩만 체크
changeNameList= df[['channelTitle','channelId']].drop_duplicates()['channelId'].value_counts() > 1
# 1개씩만 남겼는데도 channelId 가 여럿(1개 초과) 보이는 것 == 채널명 바꾼 것
print(changeNameList.sum(0))

## 무슨 채널일까.
# df.loc[df['channelId'] in changeNameList]
# changeNameList 에 있는건 df['channelId'].count() 와 달라서 바로 넣을 수 없다.
each1= df[['channelTitle','channelId']].drop_duplicates()['channelId'].value_counts()
changeChannelList= each1[changeNameList].index# 확인 .count()
changeChannelDFs= df[df['channelId'].map(lambda x: x in changeChannelList)]
# 뭔가 이상하다. 심하게 명령어 중복인데.
resDF= changeChannelDFs[['channelTitle','channelId']].drop_duplicates().sort_values('channelId') #확인
resDF.to_csv('data/channelNameChanges.csv', index=False, encoding='utf-8-sig')

71

'22.6.22 16:52 피곤../ 19:14 운동하고 저녁먹고 옴

In [148]:
######  ######  ######  ######  ######  ######  ######  ######

### 일요일에 인기있었던 영상들중 가장많은 영상 종류(categoryId)는 무엇인가?

In [107]:
df.loc[((pd.to_datetime(df['trending_date2'])).dt.dayofweek==6), 'categoryId'].value_counts().iloc[[0]].index[0]

24

답
- dt.dayofweek==6 (일요일) 을 외우지 않아도 된다
> dt.day_name() == 'Sunday' 를 기억한다면
- index 여럿 있을 때 첫 번째 것만 뽑고 싶다면 .iloc[[0]].index[0] 하지 않아도 된다
> index[0] 만 해도 충분하다

In [108]:
df['trending_date2'] = pd.to_datetime(df['trending_date2'])
answer =df.loc[df['trending_date2'].dt.day_name() =='Sunday'].categoryId.value_counts().index[0]
print(answer)

24

In [149]:
######  ######  ######  ######  ######  ######  ######  ######

### 각 요일별 인기 영상들의 categoryId는 각각 몇 개 씩인지 하나의 데이터 프레임으로 표현하라

In [115]:
df['dayName']= (pd.to_datetime(df['trending_date2'])).dt.day_name()
# df.columns
display(pd.DataFrame(df.groupby(['dayName'])['categoryId'].count()))

           categoryId
dayName
Friday           8400
Monday           8799
Saturday         8400
Sunday           8600
Thursday         8600
Tuesday          8800
Wednesday        8800

답:
- 문제를 잘못 이해했다. "요일의" "인기 영상들의" "categoryId는 각각" 이라서 3차원을 내었어야 했는데
- groupby( ,as_index=False) 옵션을 주면 만들다 만 것처럼 생긴 index 대신 값이 채워져있는 DF 를 얻을 수 있다
> df.groupby([df['trending_date2'].dt.day_name(), 'categoryId'], as_index=False).size()

In [124]:
# df['trending_date2'].dt.day_name() # 앞에서 이미 to_datetime 해서
group= df.groupby([df['trending_date2'].dt.day_name(), 'categoryId'], as_index=False).size()
display(group)

    trending_date2  categoryId  size
0           Friday           1   243
1           Friday           2   120
2           Friday          10   833
3           Friday          15   187
4           Friday          17   633
..             ...         ...   ...
100      Wednesday          25   468
101      Wednesday          26   385
102      Wednesday          27   212
103      Wednesday          28   165
104      Wednesday          29    12

[105 rows x 3 columns]

파이썬에도 엑셀에서 보면서 만들던 피벗이 있다. 
- 컬럼3개로 이루어진 group
- (원래 index 중 하나였던) categoryId를 index 삼고
- (원래 index 중 하나였던) trendig_date2 라는 허물을 뒤집어쓴 요일을 column 삼아서
- pivot 을 만든다
> group.pivot(index='categoryId', columns='trending_date2')

In [116]:
group = df.groupby([df['trending_date2'].dt.day_name(),'categoryId'],as_index=False).size()
answer= group.pivot(index='categoryId',columns='trending_date2')
display(answer)

                 size
trending_date2 Friday Monday Saturday Sunday Thursday Tuesday Wednesday
categoryId
1                 243    263      255    274      246     257       234
2                 120    105      119     99      128     119       129
10                833    837      776    830      890     894       917
15                187    215      198    217      207     208       207
17                633    668      592    636      682     708       706
19                 90     92       87     91       92      89        85
20                283    298      296    289      282     285       291
22               1288   1373     1289   1337     1341    1375      1333
23                568    594      570    556      560     569       566
24               2976   3148     3066   3096     2954    3084      3090
25                444    453      422    437      470     452       468
26                369    378      364    363      375     394       385
27                183    205      183    199      194     194       212
28                171    160      173    167      166     161       165
29                 12     10       10      9       13      11        12

(다시) 각 요일별 인기 영상들의 categoryId는 각각 몇 개 씩인지 하나의 데이터 프레임으로 표현하라

[python count size difference](https://stackoverflow.com/a/33346694) 
- size 는 null 을 포함
- 댓글: .size() 함수는 모든 열에 대해 .column()이 사용되는 동안 특정 열의 집계 값만 가져옵니다
- .count() 는 모든 열의 집계를 가져오지만, 같은DF.groupby([]).집계() 환경에서는 어차피 같은 결과를 가져오기에 이 상황에서는 size()가 적절하다

In [147]:
# print(df.columns)

### Step1. 재료 데이터: 요일, categoryId, 개수(size) 를 포함한 DF 를 만든다
## 각 요일별 > trending_date2 의 dt.day_name()
## 재료1: 요일
df['trending_date2']= pd.to_datetime(df['trending_date2'])
df['trending_date2'].dt.day_name() 
## 재료2: categoryId
'categoryId'

## 대상: count() 말고 size() < 다른가?
# 이상스레 여럿 나온다. 왜? display(df.groupby([df['trending_date2'].dt.day_name(), 'categoryId']).count())
df.groupby([df['trending_date2'].dt.day_name(), 'categoryId']).size()

# 1. groupby () 안은 전부 [] 대괄호로 둘려야 한다.
# 2. count() 랑 size() 가 뭔차이인지는 몰라도 결과가 완전 딴판이다.
# - count: groupby 로 준 기준에 대해 값이 컬럼 개수만큼 똑같은 게 여럿 나오고
# - size: groupby 로 준 기준에 대해 값이 컬럼 한 줄만 나온다.
# => 결과 하나씩 쳐보고 눈으로 봐도 count() 가 쓸모가 없고 size() 가 괜찮아 보인다.

type(df.groupby([df['trending_date2'].dt.day_name(), 'categoryId']).size())
# .groupby([]).size() 결과물은 Series. 이걸 DF 형태로 만들면서 빈칸을 채우려면, as_index=False
ingredient= df.groupby([df['trending_date2'].dt.day_name(), 'categoryId'], as_index=False).size()
# display(ingredient)

### Step2. 가공: 요일 별, categoryId 별, 개수 를 표현한다
# help(ingredient.pivot) # pivot(index=None, columns=None, values=None) # column 아니고 columns
ingredient.pivot(index='trending_date2', columns='categoryId')
# index-columns 뭐가 되든 상관없을 것 같긴 한데, 상수가 x축에 있으면 좀더 예쁘니까
display(ingredient.pivot(index='categoryId', columns='trending_date2'))

                 size
trending_date2 Friday Monday Saturday Sunday Thursday Tuesday Wednesday
categoryId
1                 243    263      255    274      246     257       234
2                 120    105      119     99      128     119       129
10                833    837      776    830      890     894       917
15                187    215      198    217      207     208       207
17                633    668      592    636      682     708       706
19                 90     92       87     91       92      89        85
20                283    298      296    289      282     285       291
22               1288   1373     1289   1337     1341    1375      1333
23                568    594      570    556      560     569       566
24               2976   3148     3066   3096     2954    3084      3090
25                444    453      422    437      470     452       468
26                369    378      364    363      375     394       385
27                183    205      183    199      194     194       212
28                171    160      173    167      166     161       165
29                 12     10       10      9       13      11        12

In [148]:
######  ######  ######  ######  ######  ######  ######  ######

# 댓글의 수로 (comment_count) 영상 반응에 대한 판단을 할 수 있다. viewcount대비 댓글수가 가장 높은 영상을 확인하라 (view_count값이 0인 경우는 제외한다)

In [163]:
# df.columns
# comment_count / view_count 값이 가장 높은 것을 찾고, 소수점 4자리 밑으로 적당히 절삭해서 비교 기준값으로 삼았다.
nonZeroDF= df[df['view_count']!=0]
maxRate= round(max(nonZeroDF['comment_count'] / nonZeroDF['view_count']), 4)
# print(maxRate)
display(nonZeroDF[((nonZeroDF['comment_count'] / nonZeroDF['view_count'])>maxRate)] )

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2,dayName
50830,"60분 동안 댓글이 달리지 않으면, 영상이 삭제됩니다. (챌린지)",팩토리,24,1214527,38246,528,196166,UCs8R3nVeg0E100H6C8qozgw,2021-09-02,Thursday

답
- 영상 줄을 뽑는 게 아니라 영상 이름을 뽑는 거였네

In [164]:
target2= df.loc[df.view_count!=0]
t = target2.copy()
t['ratio'] = (target2['comment_count']/target2['view_count']).dropna()
result = t.sort_values(by='ratio', ascending=False).iloc[0].title
print(result)

60분 동안 댓글이 달리지 않으면, 영상이 삭제됩니다. (챌린지)