# 빅분기Part3-전처리-스케일링
p.252 / '22.6.15
1. 표준 크기변환. standard Scaling. 평균0 표준편차1
2. 최소최대 크기변환. Min-Max Scaling. 최소0 최대1
3. 로버스트 크기변환. Robust Scaling. 중앙값0 IQR 1

In [4]:
# !ls

In [130]:
import pandas as pd
import time

앞에서 해온 데이터로드 및 전처리

In [129]:
start_time= time.time()
### 데이터 로드
data= pd.read_csv('bigData/mtcars.csv')
pd.set_option('display.max_columns', None) # head() 컬럼 다 보기
# data.head(2)
### 종속-독립변수 분리 및 문자열변수 제거(일단 시험용)
# data.info()
Y= data['mpg']
#Y.shape
X= data.drop(columns=['mpg','Unnamed: 0']) # Error X= data.drop(['mpg','Unnamed: 0']) # help(data.drop)
### null 채우기
# print(X.loc[X.isnull().sum(1)!=0])
# X.describe()
mean_cyl= X.describe().loc['mean']['cyl']
median_qsec=X.describe().loc['50%']['qsec']
X['cyl'].fillna(mean_cyl, inplace=True)# help(X['cyl'].fillna)
X['qsec'].fillna(median_qsec, inplace=True)
# print(X)
### 숫자형 같은데 문자형으로 둔갑한 것 찾기. 데이터타입 변경은 p.262 인코딩에서
### 뭔가 이상한 게 껴있는 것 찾고 바꾸기
# print(X.loc[:,X.dtypes==object].iloc[:,0].unique()) #문제없음
# print(X.loc[:,X.dtypes==object].iloc[:,1].unique()) #gear
# print(X['gear'].replace('*3','3').replace('*5','5'))#의도대로인지 확인
X['gear']= X['gear'].replace('*3','3').replace('*5','5')
#print(X['gear'])
# print(X.info())
# print(X)
### 이상치
#print(X.describe())
def outlierCheckByMeanStd(data):
    data_desc= data.describe()
    data_mean= data_desc.loc['mean']
    data_std= data_desc.loc['std']
    data_max= data_desc.loc['max']
    data_min= data_desc.loc['min']
    maxBoundary= mean+ 1.5*std
    minBoundary= mean- 1.5*std
    # print(data_max > maxBoundary)
    # print(data_min < minBoundary)
    # maxOverCols= data_desc.columns[data_max > maxBoundary]
    # minOverCols= data_desc.columns[data_min < minBoundary]
    overCols= data_desc.columns[(data_max > maxBoundary)|(data_min < minBoundary)]
    # print(f"maxOverCols: {maxOverCols}")
    # print(f"minOverCols: {minOverCols}")
    # print(f"overCols: {overCols}\n")
    return overCols

def outlierReplaceByMeanStd(data, column):
    data_desc= data.describe()
    mean= data_desc.loc['mean',column]
    std= data_desc.loc['std',column]
    # print(column,std)
    maxBoundary= mean+ 1.5*std
    minBoundary= mean- 1.5*std
    print(maxBoundary, minBoundary)
    maxOver= data[column] > maxBoundary
    minOver= data[column] < minBoundary
    # print(minOver, maxOver)
    # print(minOver.sum(), maxOver.sum())
    print(f"before: {data.loc[minOver|maxOver, column]}")
    if maxOver.sum() !=0:
        data.loc[maxOver, column]= maxBoundary
    if minOver.sum() !=0:
        data.loc[minOver, column]= minBoundary
    print()
    print(f"after: {data.loc[minOver|maxOver, column]}")
    return data

def outlierReplaceByIQR(data, column):
    data_desc= data.describe()
    data_Q3= data_desc.loc['75%', column]
    data_Q1= data_desc.loc['25%', column]
    data_IQR= data_Q3 - data_Q1
    maxBoundaryIQR= data_Q3 + 1.5*data_IQR
    minBoundaryIQR= data_Q1 - 1.5*data_IQR
    print(maxBoundaryIQR, minBoundaryIQR)
    maxOverIQR= data[column] > maxBoundaryIQR
    minOverIQR= data[column] < minBoundaryIQR
    print(f"before: {data.loc[minOverIQR | maxOverIQR , column]}")
    # print(maxOverIQR.sum())
    if maxOverIQR.sum() != 0:
        data.loc[maxOverIQR , column]= maxBoundaryIQR
    if minOverIQR.sum() != 0:
        data.loc[minOverIQR , column]= minBoundaryIQR
    print(f"After: {data.loc[minOverIQR | maxOverIQR , column]}")
    return data

# 일단 시험용이니.
# 문제1- 정수로 있어야 할 컬럼이 float 이 되었다. 책에서는 그냥 진행.
# 문제2- carb 기화기 개수가 6개나 8개인 차가 있을수도.
outlierCols= outlierCheckByMeanStd(X)
print(outlierCols)
for outlierCol in outlierCols:
    if outlierCol=='qsec': # byIQR 에서
        continue
    X= outlierReplaceByMeanStd(X, outlierCol) # 한 번만 실행! 

X= outlierReplaceByIQR(X, 'qsec')
    
print(X)
print(f"전처리 시간: {time.time()-start_time:.7} sec")

Index(['cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs', 'carb'], dtype='object')
19.488188771131814 -4.288188771131814
before: 14    50.0
Name: cyl, dtype: float64

after: 14    19.488189
Name: cyl, dtype: float64
416.6299157470729 44.81383425292714
before: 14    472.0
15    460.0
16    440.0
Name: disp, dtype: float64

after: 14    416.629916
15    416.629916
16    416.629916
Name: disp, dtype: float64
249.5318027339809 43.843197266019104
before: 28    264
30    335
Name: hp, dtype: int64

after: 28    249.531803
30    249.531803
Name: hp, dtype: float64
4.398580604106458 2.794544395893543
before: 5     2.76
18    4.93
21    2.76
26    4.43
Name: drat, dtype: float64

after: 5     2.794544
18    4.398581
21    2.794544
26    4.398581
Name: drat, dtype: float64
4.684936164484545 1.7495638355154544
before: 14    5.250
15    5.424
16    5.345
18    1.615
27    1.513
Name: wt, dtype: float64

after: 14    4.684936
15    4.684936
16    4.684936
18    1.749564
27    1.749564
Name: wt, dtype: float64
1.1935241931612781 -0.318524193161278
before: Series([], Name: vs, dtype: int64)

after: Series([], Name: vs, dtype: int64)
5.235299966447778 0.3897000335522218
before: 29    6
30    8
Name: carb, dtype: int64

after: 29    5.2353
30    5.2353
Name: carb, dtype: float64
21.464999999999993 14.045000000000005
before: 3       0.1
8      22.9
24    100.0
Name: qsec, dtype: float64
After: 3     14.045
8     21.465
24    21.465
Name: qsec, dtype: float64
          cyl        disp          hp      drat        wt    qsec  vs      am  \
0    6.000000  160.000000  110.000000  3.900000  2.620000  16.460   0  manual
1    6.000000  160.000000  110.000000  3.900000  2.875000  17.020   0  manual
2    4.000000  108.000000   93.000000  3.850000  2.320000  18.610   1  manual
3    6.000000  258.000000  110.000000  3.080000  3.215000  14.045   1    auto
4    8.000000  360.000000  175.000000  3.150000  3.440000  17.020   0    auto
5    6.000000  225.000000  105.000000  2.794544  3.460000  20.220   1    auto
6    8.000000  360.000000  245.000000  3.210000  3.570000  15.840   0    auto
7    7.600000  146.700000   62.000000  3.690000  3.190000  20.000   1    auto
8    4.000000  140.800000   95.000000  3.920000  3.150000  21.465   1    auto
9    6.000000  167.600000  123.000000  3.920000  3.440000  18.300   1    auto
10   6.000000  167.600000  123.000000  3.920000  3.440000  17.600   1    auto
11   8.000000  275.800000  180.000000  3.070000  4.070000  17.400   0    auto
12   8.000000  275.800000  180.000000  3.070000  3.730000  17.600   0    auto
13   8.000000  275.800000  180.000000  3.070000  3.780000  18.000   0    auto
14  19.488189  416.629916  205.000000  2.930000  4.684936  17.980   0    auto
15   8.000000  416.629916  215.000000  3.000000  4.684936  17.820   0    auto
16   8.000000  416.629916  230.000000  3.230000  4.684936  17.420   0    auto
17   4.000000   78.700000   66.000000  4.080000  2.200000  19.470   1  manual
18   4.000000   75.700000   52.000000  4.398581  1.749564  18.520   1  manual
19   4.000000   71.100000   65.000000  4.220000  1.835000  19.900   1  manual
20   4.000000  120.100000   97.000000  3.700000  2.465000  20.010   1    auto
21   8.000000  318.000000  150.000000  2.794544  3.520000  16.870   0    auto
22   8.000000  304.000000  150.000000  3.150000  3.435000  17.300   0    auto
23   8.000000  350.000000  245.000000  3.730000  3.840000  15.410   0    auto
24   7.600000  400.000000  175.000000  3.080000  3.845000  21.465   0    auto
25   4.000000   79.000000   66.000000  4.080000  1.935000  18.900   1  manual
26   4.000000  120.300000   91.000000  4.398581  2.140000  16.700   0  manual
27   4.000000   95.100000  113.000000  3.770000  1.749564  16.900   1  manual
28   8.000000  351.000000  249.531803  4.220000  3.170000  14.500   0  manual
29   6.000000  145.000000  175.000000  3.620000  2.770000  15.500   0  manual
30   8.000000  301.000000  249.531803  3.540000  3.570000  14.600   0  manual
31   4.000000  121.000000  109.000000  4.110000  2.780000  18.600   1  manual

   gear    carb
0     4  4.0000
1     4  4.0000
2     4  1.0000
3     3  1.0000
4     3  2.0000
5     3  1.0000
6     3  4.0000
7     4  2.0000
8     4  2.0000
9     4  4.0000
10    4  4.0000
11    3  3.0000
12    3  3.0000
13    3  3.0000
14    3  4.0000
15    3  4.0000
16    3  4.0000
17    4  1.0000
18    4  2.0000
19    4  1.0000
20    3  1.0000
21    3  2.0000
22    3  2.0000
23    3  4.0000
24    3  2.0000
25    4  1.0000
26    5  2.0000
27    5  2.0000
28    5  4.0000
29    5  5.2353
30    5  5.2353
31    4  2.0000
전처리 시간: 0.3949885 sec

In [126]:
# 바꾸는 함수 만드는 용
# column= 'wt'
# X_desc= X.describe()
# mean= X_desc.loc['mean',column] # 컬럼은 하나씩만 보자
# std= X_desc.loc['std',column]
# print(std)
# maxBoundary= mean+ 1.5*std
# minBoundary= mean- 1.5*std
# # 컬럼은 하나씩만 보자 maxOver= X_desc.loc['max'] > maxBoundary # minOver= X_desc.loc['min'] < minBoundary
# maxOver= X[column] > maxBoundary
# minOver= X[column] < minBoundary
# # print(minOver, maxOver)
# # print(minOver.sum(), maxOver.sum())
# if maxOver.sum() !=0:
#     print(X.loc[maxOver, column])
# if minOver.sum() !=0:
#     print(X.loc[minOver, column])

#체크용 함수 재료
# X_desc= X.describe()
# X_mean= X_desc.loc['mean']
# X_std= X_desc.loc['std']
# X_max= X_desc.loc['max']
# X_min= X_desc.loc['min']
# maxBoundary= mean+ 1.5*std
# minBoundary= mean- 1.5*std
# # print(X_max > maxBoundary)
# # print(X_min < minBoundary)
# maxOverCols= X_desc.columns[X_max > maxBoundary]
# minOverCols= X_desc.columns[X_min < minBoundary]
# print(f"maxOverCols: {maxOverCols}")
# print(f"minOverCols: {minOverCols}")

# IQR
# column= 'qsec'
# X_desc= X.describe()
# X_Q3= X_desc.loc['75%', column]
# X_Q1= X_desc.loc['25%', column]
# X_IQR= X_Q3 - X_Q1
# maxBoundaryIQR= X_Q3 + 1.5*X_IQR
# minBoundaryIQR= X_Q1 - 1.5*X_IQR
# print(maxBoundaryIQR, minBoundaryIQR)
# maxOverIQR= X[column] > maxBoundaryIQR
# minOverIQR= X[column] < minBoundaryIQR
# print(f"before: {X.loc[minOverIQR | maxOverIQR , column]}")
# # print(maxOverIQR.sum())
# if maxOverIQR.sum() != 0:
#     pass
#     #X.loc[maxOverIQR , column]= maxBoundaryIQR
# if minOverIQR.sum() != 0:
#     pass
#     #X.loc[minOverIQR , column]= minBoundaryIQR
# print(f"After: {X.loc[minOverIQR | maxOverIQR , column]}")

21.464999999999993 14.045000000000005
before: Series([], Name: qsec, dtype: float64)
After: Series([], Name: qsec, dtype: float64)

### 표준크기 변환. Standard Scaling
p.254 / 평균0 표준편차1 / 주로 종속변수가 범주형

In [15]:
# help(StandardScaler) # import 해야 비로소 보인다.

# 첫줄로 힌트 삼아 떠올려야. in module sklearn.preprocessing._data:
# class StandardScaler(sklearn

# from 패키지.module import Class - 에 있는 함수들

In [5]:
from sklearn.preprocessing import StandardScaler

In [68]:
print(type(X['qsec']))
print(type(X[['qsec']]))

<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>

In [131]:
temp= X[['qsec']]

In [132]:
# 표준변환 기능이 있는 scaler 객체 생성
scaler= StandardScaler()

In [154]:
# scaler 에게 변수의 크기변환 요청 
# print(scaler.fit_transform(temp))
# print(type(scaler.fit_transform(temp))) # numpy.ndarray
# print(pd.DataFrame(scaler.fit_transform(temp))) # DataFrame
qsec_s_scaler= pd.DataFrame(scaler.fit_transform(temp))
print(qsec_s_scaler)

# qsec_s_scaler 변수의 기초통계량 확인
print(qsec_s_scaler.describe()) # std 가 1에 근접 => 표준크기변환이 잘 되었다.

           0
0   0.325472
1   0.400943
2   0.615229
3   0.000000
4   0.400943
5   0.832210
6   0.241914
7   0.802561
8   1.000000
9   0.573450
10  0.479111
11  0.452156
12  0.479111
13  0.533019
14  0.530323
15  0.508760
16  0.454852
17  0.731132
18  0.603100
19  0.789084
20  0.803908
21  0.380728
22  0.438679
23  0.183962
24  1.000000
25  0.654313
26  0.357817
27  0.384771
28  0.061321
29  0.196092
30  0.074798
31  0.613881
               0
count  32.000000
mean    0.496989
std     0.253236
min     0.000000
25%     0.375000
50%     0.479111
75%     0.625000
max     1.000000

In [ ]:
# 기존 컬럼을 대체하고 싶다면.
# X['qsec']=pd.DataFrame(scaler.fit_transform(temp)) #qsec_s_scaler

### 최소-최대 크기변환: MinMaxScaler
p.256 / 최소0 최대1 / 주로 종속변수가 연속형

In [140]:
# Y # mpg: 연속형으로 보임

In [146]:
from sklearn.preprocessing import MinMaxScaler
# help(MinMaxScaler) # import 전에는 못 찾는다

In [151]:
# 특정 컬럼만 추출
temp= X[['qsec']]

# 최소최대변환 기능이 있는 scaler 객체 만들기
scaler= MinMaxScaler()

In [153]:
# scaler 객체에게 temp의 크기변환 요청 & DataFrame으로 변환
qsec_m_scaler= pd.DataFrame(scaler.fit_transform(temp))
print(qsec_m_scaler)

           0
0   0.325472
1   0.400943
2   0.615229
3   0.000000
4   0.400943
5   0.832210
6   0.241914
7   0.802561
8   1.000000
9   0.573450
10  0.479111
11  0.452156
12  0.479111
13  0.533019
14  0.530323
15  0.508760
16  0.454852
17  0.731132
18  0.603100
19  0.789084
20  0.803908
21  0.380728
22  0.438679
23  0.183962
24  1.000000
25  0.654313
26  0.357817
27  0.384771
28  0.061321
29  0.196092
30  0.074798
31  0.613881

In [157]:
from sklearn.preprocessing import MinMaxScaler
scaler= MinMaxScaler()
temp= X[['qsec']]
print(pd.DataFrame(scaler.fit_transform(temp)).describe())
# min 0 max 1 - MinMaxScaler 가 잘 적용되었다.

               0
count  32.000000
mean    0.496989
std     0.253236
min     0.000000
25%     0.375000
50%     0.479111
75%     0.625000
max     1.000000

### 로버스트 크기변환. RobustScaler
p.258 / 중앙값0 사분범위IQR 1 / 이상치 영향을 덜 받고 싶을 때

In [160]:
from sklearn.preprocessing import RobustScaler
# help(RobustScaler)

In [165]:
# 열 하나 추출해서 임시변수 만들고, RobustScaler 객체 만들기
temp= X[['qsec']]
scaler= RobustScaler()
# RobustScaler 로 하여금 temp 값 크기변환하도록 함
qsec_r_scaler= pd.DataFrame(scaler.fit_transform(temp))
print(qsec_r_scaler)

           0
0  -0.614555
1  -0.312668
2   0.544474
3  -1.916442
4  -0.312668
5   1.412399
6  -0.948787
7   1.293801
8   2.083558
9   0.377358
10  0.000000
11 -0.107817
12  0.000000
13  0.215633
14  0.204852
15  0.118598
16 -0.097035
17  1.008086
18  0.495957
19  1.239892
20  1.299191
21 -0.393531
22 -0.161725
23 -1.180593
24  2.083558
25  0.700809
26 -0.485175
27 -0.377358
28 -1.671159
29 -1.132075
30 -1.617251
31  0.539084

In [166]:
# 중앙값 50% 0, IQR 1
print(qsec_r_scaler.describe())
qsec_r_scaler.describe().loc['75%'] - qsec_r_scaler.describe().loc['25%']

               0
count  32.000000
mean    0.071513
std     1.012945
min    -1.916442
25%    -0.416442
50%     0.000000
75%     0.583558
max     2.083558

0    1.0
dtype: float64

## 데이터 타입 변경
p.261

### 수치형1 => 수치형2. astype()
Series.astype(타입)
- 타입: 'float64', 'int64' 등

In [167]:
print(X.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   cyl     32 non-null     float64
 1   disp    32 non-null     float64
 2   hp      32 non-null     float64
 3   drat    32 non-null     float64
 4   wt      32 non-null     float64
 5   qsec    32 non-null     float64
 6   vs      32 non-null     int64
 7   am      32 non-null     object
 8   gear    32 non-null     object
 9   carb    32 non-null     float64
dtypes: float64(7), int64(1), object(2)
memory usage: 2.6+ KB
None

In [170]:
# origin= pd.read_csv('bigData/mtcars.csv')
# origin.info()

# hp, carb 는 원래 int64 였다. 
# cyl 은 엔진 기통수인데 원래부터 float64 인걸 보니 개수라고 꼭 int 일 것은 없을수도.

In [171]:
X.head(2)

   cyl   disp     hp  drat     wt   qsec  vs      am gear  carb
0  6.0  160.0  110.0   3.9  2.620  16.46   0  manual    4   4.0
1  6.0  160.0  110.0   3.9  2.875  17.02   0  manual    4   4.0

In [178]:
# 개수가 적다고 꼭 범주형인 것은 아니다! # X.loc[:,X.dtypes==object].nunique()
X['gear'].value_counts() # gear: 전진기어 개수. 기어가 3~5개

3    15
4    12
5     5
Name: gear, dtype: int64

In [181]:
temp_time= time.time()
X['gear']= X['gear'].astype('int64')
print(f"type변경 {time.time()-temp_time}")

type변경 0.0019998550415039062

In [183]:
X.dtypes

cyl     float64
disp    float64
hp      float64
drat    float64
wt      float64
qsec    float64
vs        int64
am       object
gear      int64
carb    float64
dtype: object

### 범주형=>수치형. 인코딩 encoding
- one-hot encoding(100 010 001), label encoding(0,1,2,...)
- 문자열로 된 것을 컴퓨터가 이해할만하도록 수치형으로 변경

##### one-hot encoding
p.264

In [197]:
# X.loc[:,X.dtypes==object].value_counts() # 컬럼 하나뿐이라
print(X.loc[:, X.dtypes==object].nunique()) # am 컬럼에 2 종류의 값
print(X.loc[:,X.dtypes==object].iloc[:,0].unique())

am    2
dtype: int64
['manual' 'auto']

In [194]:
# 간단한 방법- 2종류라서 2개 컬럼에 01 10 생성
print(pd.get_dummies(X['am']))

    auto  manual
0      0       1
1      0       1
2      0       1
3      1       0
4      1       0
5      1       0
6      1       0
7      1       0
8      1       0
9      1       0
10     1       0
11     1       0
12     1       0
13     1       0
14     1       0
15     1       0
16     1       0
17     0       1
18     0       1
19     0       1
20     1       0
21     1       0
22     1       0
23     1       0
24     1       0
25     0       1
26     0       1
27     0       1
28     0       1
29     0       1
30     0       1
31     0       1

In [200]:
# 간단 + 공간효율적인 방법. 하나가 0이면 다른건 1일 것이므로
# 종류가 3개라면 2개 컬럼 생성. 001 010 100 => 010 100. 2개만 있어도 남은 하나를 구분할 수 있다.
print(pd.get_dummies(X['am'], drop_first= True))

    manual
0        1
1        1
2        1
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       1
18       1
19       1
20       0
21       0
22       0
23       0
24       0
25       1
26       1
27       1
28       1
29       1
30       1
31       1

##### 따로 범주형 안 골라내고도 알아서 범주형만 골라서 one-hot encoding

In [208]:
# help(pd.get_dummies) # drop_first
# print(X['am'].unique()) 
print(X['am'].head(4)) # ['manual' 'auto'] => 1 0
pd.get_dummies(X, drop_first=True)

0    manual
1    manual
2    manual
3      auto
Name: am, dtype: object

,cyl,disp,hp,drat,wt,qsec,vs,gear,carb,am_manual
0,6.000000,160.000000,110.000000,3.900000,2.620000,16.460,0,4,4.0000,1
1,6.000000,160.000000,110.000000,3.900000,2.875000,17.020,0,4,4.0000,1
2,4.000000,108.000000,93.000000,3.850000,2.320000,18.610,1,4,1.0000,1
3,6.000000,258.000000,110.000000,3.080000,3.215000,14.045,1,3,1.0000,0
4,8.000000,360.000000,175.000000,3.150000,3.440000,17.020,0,3,2.0000,0
5,6.000000,225.000000,105.000000,2.794544,3.460000,20.220,1,3,1.0000,0
6,8.000000,360.000000,245.000000,3.210000,3.570000,15.840,0,3,4.0000,0
7,7.600000,146.700000,62.000000,3.690000,3.190000,20.000,1,4,2.0000,0
8,4.000000,140.800000,95.000000,3.920000,3.150000,21.465,1,4,2.0000,0
9,6.000000,167.600000,123.000000,3.920000,3.440000,18.300,1,4,4.0000,0
10,6.000000,167.600000,123.000000,3.920000,3.440000,17.600,1,4,4.0000,0
11,8.000000,275.800000,180.000000,3.070000,4.070000,17.400,0,3,3.0000,0
12,8.000000,275.800000,180.000000,3.070000,3.730000,17.600,0,3,3.0000,0
13,8.000000,275.800000,180.000000,3.070000,3.780000,18.000,0,3,3.0000,0
14,19.488189,416.629916,205.000000,2.930000,4.684936,17.980,0,3,4.0000,0
15,8.000000,416.629916,215.000000,3.000000,4.684936,17.820,0,3,4.0000,0
16,8.000000,416.629916,230.000000,3.230000,4.684936,17.420,0,3,4.0000,0
17,4.000000,78.700000,66.000000,4.080000,2.200000,19.470,1,4,1.0000,1
18,4.000000,75.700000,52.000000,4.398581,1.749564,18.520,1,4,2.0000,1
19,4.000000,71.100000,65.000000,4.220000,1.835000,19.900,1,4,1.0000,1
20,4.000000,120.100000,97.000000,3.700000,2.465000,20.010,1,3,1.0000,0
21,8.000000,318.000000,150.000000,2.794544,3.520000,16.870,0,3,2.0000,0
22,8.000000,304.000000,150.000000,3.150000,3.435000,17.300,0,3,2.0000,0
23,8.000000,350.000000,245.000000,3.730000,3.840000,15.410,0,3,4.0000,0
24,7.600000,400.000000,175.000000,3.080000,3.845000,21.465,0,3,2.0000,0
25,4.000000,79.000000,66.000000,4.080000,1.935000,18.900,1,4,1.0000,1
26,4.000000,120.300000,91.000000,4.398581,2.140000,16.700,0,5,2.0000,1
27,4.000000,95.100000,113.000000,3.770000,1.749564,16.900,1,5,2.0000,1
28,8.000000,351.000000,249.531803,4.220000,3.170000,14.500,0,5,4.0000,1
29,6.000000,145.000000,175.000000,3.620000,2.770000,15.500,0,5,5.2353,1
30,8.000000,301.000000,249.531803,3.540000,3.570000,14.600,0,5,5.2353,1
31,4.000000,121.000000,109.000000,4.110000,2.780000,18.600,1,4,2.0000,1

##### 라벨 인코딩. Label Encoding
p.269 / 트리 계열 분석에 좋다 - 대소비교로 쪼개기가 쉬울테니

In [211]:
X.loc[:,X.dtypes==object].head(4)

       am
0  manual
1  manual
2  manual
3    auto

In [217]:
# import sklearn
# help(sklearn) # PACKAGE CONTENTS 에 preprocessing 있다. Examples 에 from sklearn.ㅁㅁ import ㄹㄹ 형식도 있고

In [220]:
# from sklearn import preprocessing
# help(preprocessing) # CLASSES 에 다 들어있다. 클래스 이름을 다 안 외워도 된다! 외우는 게 3시간 안에 문제 푸는 데 좋겠지만
# StandardScaler, MinMaxScaler, RobustScaler, LabelEncoder

In [221]:
from sklearn.preprocessing import LabelEncoder
# help(LabelEncoder)

In [222]:
# LabelEncoder 객체에게 'am'컬럼 인코딩 시키기
encoder= LabelEncoder()
print(encoder.fit_transform(X['am'])) # manual 1, auto 0. 2종이라 01

[1 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 0 0 0 0 0 1 1 1 1 1 1 1]

임의로 3종 만들기 => 012 로 인코딩

In [224]:
from sklearn.preprocessing import LabelEncoder
fruit= ['apple','banana','grape']
encoder= LabelEncoder()
fruitEnc= encoder.fit_transform(fruit)
print(fruit, fruitEnc)

['apple', 'banana', 'grape'] [0 1 2]

복습 - '22.6.16 오전
- 이상치 제거 시행착오에 3h 가량

In [227]:
import pandas as pd
import time
# from sklearn import preprocessing
# help(preprocessing)
from sklearn.preprocessing import StandardScaler, MinMaxScaler, RobustScaler, LabelEncoder

[python type to factor](https://stackoverflow.com/a/27023500) dtype="category"

In [387]:
### 시간 측정, 데이터 로드, 종속-독립변수 분리
start_time= time.time()
import pandas as pd
data=pd.read_csv('bigData/mtcars.csv')
# print(data.info(), '-----'))
# print(data.head(), '-----'))
Y= data[['mpg']]
X= data.drop(columns=['mpg','Unnamed: 0'])
X.head()
### null 찾고 채우기, 이상한 값 찾고 바꾸기, 이상한 타입 바꾸기, 인코딩
# print(X.loc[X.isnull().sum(1) != 0], '-----'))
X['cyl'].fillna(X.describe().loc['mean','cyl'], inplace=True)
X['qsec'].fillna(X.describe().loc['mean','cyl'], inplace=True)
# print(X, '-----'))
# X.loc[:,X.dtypes==object].iloc[:,0].unique()
# print(X.loc[:,X.dtypes==object].iloc[:,1].unique(), '-----')) #'gear'
# print(X.info(), '-----')) 
X['gear']= X['gear'].replace('*3','3').replace('*5','5').astype('int64') # min 이상치에 'gear' 도 포함된다
# help(pd.get_dummies)
# print(pd.get_dummies(X, drop_first=True), '-----'))
# print(X['am'].unique(), '-----'))
# print(X, '-----'))
X= pd.get_dummies(X, drop_first=True) # min/max 이상치에 am_manual 도 포함된다. manual 1 , auto 0
# print(X, '-----')) # am_auto 뿐만 아니라, 기존 am 컬럼도 자동으로 지워진다.

# print(X.info(), '-----'))
### 이상치 교체(meanStd or IQR)
## describe -> mean +- 1.5*std , Q3 + 1.5*IQR 및 Q1 - 1.5*IQR -> def 컬럼 별. maxOver minOver. 찾는 것부터
# 같은 컬럼을 2번 돌리면 안 되기 때문에 True 라고 전부 loop 돌리면 곤란하다. 
# int64 를 float로? 눈으로 데이터보며 이상치 제거할지 말지 결정하자.
# print(X.loc[:,X.dtypes=='int64'].nunique(), '-----')) # hp22, vs2, gear3, carb6 종
# print(X.loc[:,X.dtypes=='int64'], '-----')) # vs 01, gear 345, carb 123468 
# 컬럼 조건만 알아본 것
def outlierCheck(data):
    desc= data.describe()
    max1= desc.loc['max']
    min1= desc.loc['min']
    
    mean= desc.loc['mean']
    std= desc.loc['std']
    minBms= mean - 1.5*std
    maxBms= mean + 1.5*std
    minOverMs= min1 < minBms#조건을 잘못 걸었다. Boundary 보다 더 작은 게 이상치. minOverMs= min1 > minBms
    maxOverMs= max1 > maxBms #Boundary 보다 더 크면 이상치. maxOverMs= max1 < maxBms
#     print(minOverMs, '-----')) # drat, wt 만
#     print(maxOverMs, '-----')) # vs, am_maunal 빼고 다 => disp, drat 만. gear 제외
    # 여기부터 의심했어야 했는데. vs 01인데 왜 이상치로 잡나에 대해.
    
    Q1= desc.loc['25%']
    Q3= desc.loc['75%']
    IQR= Q3-Q1
    minBiqr= Q1 - 1.5*IQR
    maxBiqr= Q3 + 1.5*IQR
    minOverIQR= min1 < minBiqr
    maxOverIQR= max1 > maxBiqr
#     print(minOverIQR, '-----')) # qsec 만
#     print(maxOverIQR, '-----')) # cyl, hp, wt, qsec, carb => carb 유지. 기화기는 엔진 부품. 8개면 좀 이상하긴하다
    
    #     print(minBms, maxBms, minBiqr, maxBiqr, '-----'))
    return minBms, maxBms, minBiqr, maxBiqr

# outlierCheck(X)

# 여긴 조건 맞게함. 서로 등호를 반대로 했으니 겹치는 게 없어서 아무것도 안 바꾼것.
# 뭘 바꿀지 이미 정했으므로 행 조건만 알면 된다.
def outlierReplace(data):
    minBms, maxBms, minBiqr, maxBiqr= outlierCheck(data)
    #행 조건
    # 각 열 내의 값이 Boundary Over 인지
    #열 조건
    minMScols= ['drat','wt']
    maxMScols= ['disp','drat']
    minIQRcols= ['qsec']
    maxIQRcols= ['cyl', 'hp', 'wt', 'qsec', 'carb']
    
    #     print(type(minBms), '-----'))
    #     print(minBms[column], '-----'))
    for col in minMScols:
#         print(f"BeforeMinMS: {data.loc[ data[col]<minBms[col],col]}, minBms: {minBms[col]:.7}") 
        data.loc[ data[col]<minBms[col], col]= minBms[col]
    for col in maxMScols:
#         print(f"BeforeMaxMS: {data.loc[ data[col]>maxBms[col],col]}, maxBms: {maxBms[col]:.7}")
        data.loc[ data[col]>maxBms[col], col]= maxBms[col]
    for col in minIQRcols:
#         print(f"BeforeMinIQR: {data.loc[ data[col]<minBiqr[col],col]}, minBiqr: {minBiqr[col]:.7}")
        data.loc[ data[col]<minBiqr[col], col]= minBiqr[col]
    for col in maxIQRcols:
#         print(f"BeforeMaxIQR: {data.loc[ data[col]>maxBiqr[col],col]}, maxBiqr: {maxBiqr[col]:.7}")
        data.loc[ data[col]>maxBiqr[col], col]= maxBiqr[col]
    return data

X= outlierReplace(X) # inplace 될 때도 있고, 안 될 때도 있어서 확실히 해두기.
# print(X, '-----'))

### 범위 맞추기
# from sklearn import preprocessing
# help(preprocessing)
from sklearn.preprocessing import MinMaxScaler, StandardScaler, RobustScaler, LabelEncoder
# print(X.describe(), '-----'))
def rangeScaler(scalers, columnDataFrame): # 이 인자 외워야. X[[ ]]
    if scalers=='MinMax':
        scaler= MinMaxScaler()
    elif scalers=='Standard':
        scaler= StandardScaler()
    elif scalers=='Robust':
        scaler= RobustScaler()
    #     help(scaler.fit_transform)
    scaledDf= pd.DataFrame(scaler.fit_transform(columnDataFrame)) # 이 형태 외워야.
    return scaledDf

# print(X[['qsec']], '-----'))
ret2= rangeScaler('MinMax', X[['qsec']]) # min 0, max 1
ret2= rangeScaler('Standard', X[['qsec']]) # mean 0 근접, std 1 근접
ret2= rangeScaler('Robust', X[['qsec']]) # mid 0, IQR= Q3-Q1= 1
# print(ret2.describe(), '-----'))
# ret2.describe().loc['75%']-ret2.describe().loc['25%']
# print(ret2, '-----'))

## 범주형은 안 건드리고 싶다.
# help(X['am_manual'].astype) #Convert to categorical type
X['am_manual']= X['am_manual'].astype('category')
X['vs']= X['vs'].astype('category')
# print(X.info(), '-----'))


## LabelEncoder 연습
face= ['happy','sad','soso']
# from sklearn import preprocessing
# help(preprocessing)
from sklearn.preprocessing import LabelEncoder
encoder= LabelEncoder()
# print(face, encoder.fit_transform(face), '-----'))

In [327]:
# col= 'cyl'
# minBms, maxBms, minBiqr, maxBiqr= outlierCheck(X)
# print(minBms[col])
# X[col]
# print(f"BeforeMinMS: {data.loc[ data[col]<minBms[col],col]}")
# print(X['cyl']<minBms['cyl'])
# print(data.loc[minOverMs['cyl'], 'cyl'])

In [325]:
# col= 'qsec'
# X[col]==X.describe().loc['max',col]

### 파생변수
p.272 / '22.6.16 16:20
1. wt 무게 등급 구분 - 범위 적용하기 전에 하자

In [393]:
condition= X['wt'] < 3.3
X.loc[condition, 'wt_class']= 0 # 작
X.loc[~condition, 'wt_class']= 1 #크거나 같
X.drop(columns='wt',inplace=True)
print(X, '-----')

     cyl   disp      hp      drat      qsec vs  gear  carb am_manual  wt_class
0    6.0  160.0  110.00  3.900000  16.46000  0     4     4         1       0.0
1    6.0  160.0  110.00  3.900000  17.02000  0     4     4         1       0.0
2    4.0  108.0   93.00  3.850000  18.61000  1     4     1         1       0.0
3    6.0  258.0  110.00  3.080000  13.57625  1     3     1         0       0.0
4    8.0  360.0  175.00  3.150000  17.02000  0     3     2         0       1.0
5    6.0  225.0  105.00  2.794544  20.22000  1     3     1         0       1.0
6    8.0  360.0  245.00  3.210000  15.84000  0     3     4         0       1.0
7    7.6  146.7   62.00  3.690000  20.00000  1     4     2         0       0.0
8    4.0  140.8   95.00  3.920000  21.74625  1     4     2         0       0.0
9    6.0  167.6  123.00  3.920000  18.30000  1     4     4         0       1.0
10   6.0  167.6  123.00  3.920000  13.57625  1     4     4         0       1.0
11   8.0  275.8  180.00  3.070000  17.40000  0     3     3         0       1.0
12   8.0  275.8  180.00  3.070000  17.60000  0     3     3         0       1.0
13   8.0  275.8  180.00  3.070000  18.00000  0     3     3         0       1.0
14  14.0  472.0  205.00  2.930000  17.98000  0     3     4         0       1.0
15   8.0  460.0  215.00  3.000000  17.82000  0     3     4         0       1.0
16   8.0  440.0  230.00  3.230000  17.42000  0     3     4         0       1.0
17   4.0   78.7   66.00  4.080000  19.47000  1     4     1         1       0.0
18   4.0   75.7   52.00  4.930000  18.52000  1     4     2         1       0.0
19   4.0   71.1   65.00  4.220000  19.90000  1     4     1         1       0.0
20   4.0  120.1   97.00  3.700000  20.01000  1     3     1         0       0.0
21   8.0  318.0  150.00  2.794544  16.87000  0     3     2         0       1.0
22   8.0  304.0  150.00  3.150000  17.30000  0     3     2         0       1.0
23   8.0  350.0  245.00  3.730000  15.41000  0     3     4         0       1.0
24   7.6  400.0  175.00  3.080000  21.74625  0     3     2         0       1.0
25   4.0   79.0   66.00  4.080000  18.90000  1     4     1         1       0.0
26   4.0  120.3   91.00  4.430000  16.70000  0     5     2         1       0.0
27   4.0   95.1  113.00  3.770000  16.90000  1     5     2         1       0.0
28   8.0  351.0  264.00  4.220000  14.50000  0     5     4         1       0.0
29   6.0  145.0  175.00  3.620000  15.50000  0     5     6         1       0.0
30   8.0  301.0  305.25  3.540000  14.60000  0     5     7         1       1.0
31   4.0  121.0  109.00  4.110000  18.60000  1     4     2         1       0.0

In [397]:
X['wt_class']= X['wt_class'].astype('int64').astype('category') # float 에 category 는 deprecated
print(X)

     cyl   disp      hp      drat      qsec vs  gear  carb am_manual wt_class
0    6.0  160.0  110.00  3.900000  16.46000  0     4     4         1        0
1    6.0  160.0  110.00  3.900000  17.02000  0     4     4         1        0
2    4.0  108.0   93.00  3.850000  18.61000  1     4     1         1        0
3    6.0  258.0  110.00  3.080000  13.57625  1     3     1         0        0
4    8.0  360.0  175.00  3.150000  17.02000  0     3     2         0        1
5    6.0  225.0  105.00  2.794544  20.22000  1     3     1         0        1
6    8.0  360.0  245.00  3.210000  15.84000  0     3     4         0        1
7    7.6  146.7   62.00  3.690000  20.00000  1     4     2         0        0
8    4.0  140.8   95.00  3.920000  21.74625  1     4     2         0        0
9    6.0  167.6  123.00  3.920000  18.30000  1     4     4         0        1
10   6.0  167.6  123.00  3.920000  13.57625  1     4     4         0        1
11   8.0  275.8  180.00  3.070000  17.40000  0     3     3         0        1
12   8.0  275.8  180.00  3.070000  17.60000  0     3     3         0        1
13   8.0  275.8  180.00  3.070000  18.00000  0     3     3         0        1
14  14.0  472.0  205.00  2.930000  17.98000  0     3     4         0        1
15   8.0  460.0  215.00  3.000000  17.82000  0     3     4         0        1
16   8.0  440.0  230.00  3.230000  17.42000  0     3     4         0        1
17   4.0   78.7   66.00  4.080000  19.47000  1     4     1         1        0
18   4.0   75.7   52.00  4.930000  18.52000  1     4     2         1        0
19   4.0   71.1   65.00  4.220000  19.90000  1     4     1         1        0
20   4.0  120.1   97.00  3.700000  20.01000  1     3     1         0        0
21   8.0  318.0  150.00  2.794544  16.87000  0     3     2         0        1
22   8.0  304.0  150.00  3.150000  17.30000  0     3     2         0        1
23   8.0  350.0  245.00  3.730000  15.41000  0     3     4         0        1
24   7.6  400.0  175.00  3.080000  21.74625  0     3     2         0        1
25   4.0   79.0   66.00  4.080000  18.90000  1     4     1         1        0
26   4.0  120.3   91.00  4.430000  16.70000  0     5     2         1        0
27   4.0   95.1  113.00  3.770000  16.90000  1     5     2         1        0
28   8.0  351.0  264.00  4.220000  14.50000  0     5     4         1        0
29   6.0  145.0  175.00  3.620000  15.50000  0     5     6         1        0
30   8.0  301.0  305.25  3.540000  14.60000  0     5     7         1        1
31   4.0  121.0  109.00  4.110000  18.60000  1     4     2         1        0

qsec 1/4mile 도달 시간 => 1mile 로
- ??? 모델링할 때 상수배는 아무 영향도 없을건디. 표준화하면 차이도 없을거고

In [402]:
X['qsec_4']= X['qsec']*4
print(X[['qsec_4','qsec']])
X.drop(columns='qsec', inplace=True)
print(X)

    qsec_4      qsec
0   65.840  16.46000
1   68.080  17.02000
2   74.440  18.61000
3   54.305  13.57625
4   68.080  17.02000
5   80.880  20.22000
6   63.360  15.84000
7   80.000  20.00000
8   86.985  21.74625
9   73.200  18.30000
10  54.305  13.57625
11  69.600  17.40000
12  70.400  17.60000
13  72.000  18.00000
14  71.920  17.98000
15  71.280  17.82000
16  69.680  17.42000
17  77.880  19.47000
18  74.080  18.52000
19  79.600  19.90000
20  80.040  20.01000
21  67.480  16.87000
22  69.200  17.30000
23  61.640  15.41000
24  86.985  21.74625
25  75.600  18.90000
26  66.800  16.70000
27  67.600  16.90000
28  58.000  14.50000
29  62.000  15.50000
30  58.400  14.60000
31  74.400  18.60000
     cyl   disp      hp      drat vs  gear  carb am_manual wt_class  qsec_4
0    6.0  160.0  110.00  3.900000  0     4     4         1        0  65.840
1    6.0  160.0  110.00  3.900000  0     4     4         1        0  68.080
2    4.0  108.0   93.00  3.850000  1     4     1         1        0  74.440
3    6.0  258.0  110.00  3.080000  1     3     1         0        0  54.305
4    8.0  360.0  175.00  3.150000  0     3     2         0        1  68.080
5    6.0  225.0  105.00  2.794544  1     3     1         0        1  80.880
6    8.0  360.0  245.00  3.210000  0     3     4         0        1  63.360
7    7.6  146.7   62.00  3.690000  1     4     2         0        0  80.000
8    4.0  140.8   95.00  3.920000  1     4     2         0        0  86.985
9    6.0  167.6  123.00  3.920000  1     4     4         0        1  73.200
10   6.0  167.6  123.00  3.920000  1     4     4         0        1  54.305
11   8.0  275.8  180.00  3.070000  0     3     3         0        1  69.600
12   8.0  275.8  180.00  3.070000  0     3     3         0        1  70.400
13   8.0  275.8  180.00  3.070000  0     3     3         0        1  72.000
14  14.0  472.0  205.00  2.930000  0     3     4         0        1  71.920
15   8.0  460.0  215.00  3.000000  0     3     4         0        1  71.280
16   8.0  440.0  230.00  3.230000  0     3     4         0        1  69.680
17   4.0   78.7   66.00  4.080000  1     4     1         1        0  77.880
18   4.0   75.7   52.00  4.930000  1     4     2         1        0  74.080
19   4.0   71.1   65.00  4.220000  1     4     1         1        0  79.600
20   4.0  120.1   97.00  3.700000  1     3     1         0        0  80.040
21   8.0  318.0  150.00  2.794544  0     3     2         0        1  67.480
22   8.0  304.0  150.00  3.150000  0     3     2         0        1  69.200
23   8.0  350.0  245.00  3.730000  0     3     4         0        1  61.640
24   7.6  400.0  175.00  3.080000  0     3     2         0        1  86.985
25   4.0   79.0   66.00  4.080000  1     4     1         1        0  75.600
26   4.0  120.3   91.00  4.430000  0     5     2         1        0  66.800
27   4.0   95.1  113.00  3.770000  1     5     2         1        0  67.600
28   8.0  351.0  264.00  4.220000  0     5     4         1        0  58.000
29   6.0  145.0  175.00  3.620000  0     5     6         1        0  62.000
30   8.0  301.0  305.25  3.540000  0     5     7         1        1  58.400
31   4.0  121.0  109.00  4.110000  1     4     2         1        0  74.400

In [404]:
## 기존 데이터에 범위 적용 
from sklearn.preprocessing import MinMaxScaler, StandardScaler, RobustScaler, LabelEncoder
# print(X.describe(), '-----'))
def rangeScaler(scalers, columnDataFrame):
    if scalers=='MinMax':
        scaler= MinMaxScaler()
    elif scalers=='Standard':
        scaler= StandardScaler()
    elif scalers=='Robust':
        scaler= RobustScaler()
    #     help(scaler.fit_transform)
    scaledDf= pd.DataFrame(scaler.fit_transform(columnDataFrame))
    return scaledDf
# print(X.describe(), '-----'))
targetCols= X.columns[(X.dtypes=='float64')]
for col in targetCols:
    X[col]= rangeScaler('MinMax', X[[col]]) # MinMax 종속 연속형

print(X, '-----')

     cyl      disp        hp      drat vs  gear  carb am_manual wt_class  \
0   0.20  0.221751  0.229023  0.517667  0     4     4         1        0
1   0.20  0.221751  0.229023  0.517667  0     4     4         1        0
2   0.00  0.092043  0.161895  0.494253  1     4     1         1        0
3   0.20  0.466201  0.229023  0.133674  1     3     1         0        0
4   0.40  0.720629  0.485686  0.166454  0     3     2         0        1
5   0.20  0.383886  0.209279  0.000000  1     3     1         0        1
6   0.40  0.720629  0.762093  0.194551  0     3     4         0        1
7   0.36  0.188576  0.039487  0.419328  1     4     2         0        0
8   0.00  0.173859  0.169793  0.527033  1     4     2         0        0
9   0.20  0.240708  0.280355  0.527033  1     4     4         0        1
10  0.20  0.240708  0.280355  0.527033  1     4     4         0        1
11  0.40  0.510601  0.505429  0.128991  0     3     3         0        1
12  0.40  0.510601  0.505429  0.128991  0     3     3         0        1
13  0.40  0.510601  0.505429  0.128991  0     3     3         0        1
14  1.00  1.000000  0.604146  0.063432  0     3     4         0        1
15  0.40  0.970067  0.643633  0.096212  0     3     4         0        1
16  0.40  0.920180  0.702863  0.203917  0     3     4         0        1
17  0.00  0.018957  0.055281  0.601958  1     4     1         1        0
18  0.00  0.011474  0.000000  1.000000  1     4     2         1        0
19  0.00  0.000000  0.051333  0.667518  1     4     1         1        0
20  0.00  0.122225  0.177690  0.424011  1     3     1         0        0
21  0.40  0.615864  0.386969  0.000000  0     3     2         0        1
22  0.40  0.580943  0.386969  0.166454  0     3     2         0        1
23  0.40  0.695685  0.762093  0.438059  0     3     4         0        1
24  0.36  0.820404  0.485686  0.133674  0     3     2         0        1
25  0.00  0.019706  0.055281  0.601958  1     4     1         1        0
26  0.00  0.122724  0.153998  0.765858  0     5     2         1        0
27  0.00  0.059865  0.240869  0.456790  1     5     2         1        0
28  0.40  0.698179  0.837117  0.667518  0     5     4         1        0
29  0.20  0.184335  0.485686  0.386548  0     5     6         1        0
30  0.40  0.573460  1.000000  0.349085  0     5     7         1        1
31  0.00  0.124470  0.225074  0.616007  1     4     2         1        0

      qsec_4
0   0.352968
1   0.421512
2   0.616126
3   0.000000
4   0.421512
5   0.813188
6   0.277081
7   0.786261
8   1.000000
9   0.578182
10  0.000000
11  0.468023
12  0.492503
13  0.541463
14  0.539015
15  0.519431
16  0.470471
17  0.721389
18  0.605110
19  0.774021
20  0.787485
21  0.403152
22  0.455783
23  0.224449
24  1.000000
25  0.651622
26  0.382344
27  0.406824
28  0.113066
29  0.235465
30  0.125306
31  0.614902   -----