# 데이터 분석 절차 체득하기2- 전처리

## 종속변수(결과,효과)와 독립변수(원인) 분리
p.233

In [234]:
import time
start_time= time.time()
# print(f"{time.time()-start_time} sec")

In [235]:
import pandas as pd

In [236]:
!ls

bigData
data
j.bat
鍮낅텇湲캰art2.ipynb
鍮낅텇湲캰art2.py
鍮낅텇湲캰art3-�뜲�씠�꽣 紐⑥뼇援ъ“�듅吏�.ipynb
鍮낅텇湲캰art3-�뜲�씠�꽣-紐⑥뼇援ъ“�듅吏�.py
鍮낅텇湲캰art3-�쟾泥섎━.ipynb
移댁뭅�삤�넚 諛쏆�� �뙆�씪 - 諛붾줈 媛�湲�.lnk

In [237]:
data= pd.read_csv('bigData/mtcars.csv')

In [238]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  32 non-null     object
 1   mpg         32 non-null     float64
 2   cyl         30 non-null     float64
 3   disp        32 non-null     float64
 4   hp          32 non-null     int64
 5   drat        32 non-null     float64
 6   wt          32 non-null     float64
 7   qsec        31 non-null     float64
 8   vs          32 non-null     int64
 9   am          32 non-null     object
 10  gear        32 non-null     object
 11  carb        32 non-null     int64
dtypes: float64(6), int64(3), object(3)
memory usage: 3.1+ KB

In [239]:
X= data.drop(columns= 'mpg')
Y= data['mpg']

In [240]:
print(X.shape)
print(Y.shape)

(32, 11)
(32,)

In [241]:
X['cyl'].shape # null 껴있어도 shape 는 전체 개수 출력! - 혹시나 종속변수에 null 껴있어서 shape 맞출 걱정 ㄴㄴ

(32,)

In [242]:
start_time= time.time()
print("\n----= ----= real data ----=")
pd.set_option('display.max_columns', None)
print(X.head(2))
print("\n----= ----= null check ----=")
print(X[X.isnull().sum(1) != 0])
print("\n----= ----= 수치형 변수 ----=")
print(X.describe().columns)
print("\n----= ----= object에 수치형 껴있나 ----=")
objCols= X.loc[:,X.dtypes == object].columns
for idx, _ in enumerate(objCols):
    if idx==0:
        continue # 맨앞 것은 명백히 문자열이더라
    print(f"{_}\n{X[_].unique()}\n")
print("\n----= ----= 이상치: mean + 4*std < max 면 거의 확실. min도 보고----= ") # 그래도 눈으로 보는 게 특이 케이스를 더 잘 거를듯
print(X.describe().loc[['mean','min','max','std'],:]) # 400m 가는데 0.1초도 이상하지만 100초도 너무 이상한데?
print("\n----= ----= time check ----=")
print(f"{time.time()-start_time:.7f} sec")

----= ----= real data ----=
      Unnamed: 0  cyl   disp   hp  drat     wt   qsec  vs      am gear  carb
0      Mazda RX4  6.0  160.0  110   3.9  2.620  16.46   0  manual    4     4
1  Mazda RX4 Wag  6.0  160.0  110   3.9  2.875  17.02   0  manual    4     4

----= ----= null check ----=
          Unnamed: 0  cyl   disp   hp  drat     wt   qsec  vs    am gear  carb
7          Merc 240D  NaN  146.7   62  3.69  3.190   20.0   1  auto    4     2
10         Merc 280C  6.0  167.6  123  3.92  3.440    NaN   1  auto    4     4
24  Pontiac Firebird  NaN  400.0  175  3.08  3.845  100.0   0  auto    3     2

----= ----= 수치형 변수 ----=
Index(['cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs', 'carb'], dtype='object')

----= ----= object에 수치형 껴있나 ----=
am
['manual' 'auto']

gear
['4' '3' '*3' '5' '*5']


----= ----= 이상치: mean + 4*std < max 면 거의 확실. min도 보고----=
            cyl        disp          hp      drat        wt        qsec  \
mean   7.600000  230.721875  146.687500  3.596563  3.217250   19.866774
min    4.000000   71.100000   52.000000  2.760000  1.513000    0.100000
max   50.000000  472.000000  335.000000  4.930000  5.424000  100.000000
std    8.194195  123.938694   68.562868  0.534679  0.978457   15.310469

            vs    carb
mean  0.437500  2.8125
min   0.000000  1.0000
max   1.000000  8.0000
std   0.504016  1.6152

----= ----= time check ----=
0.1450026 sec

In [243]:
start_time= time.time()
pd.set_option('display.max_columns',None)
print(X.head())
print(X[X.isnull().sum(1) != 0])
print(X.describe().columns)
objCols= X.loc[:, X.dtypes == object].columns
for idx,_ in enumerate(objCols):
    if idx==0:
        continue
    print(f"{_}\n{X[_].unique()}\n")
print(X.describe().loc[['mean','min','max','std'], :])
print(f"{time.time() - start_time:.7f} sec")




# start_time= time.time()
# print("\n----= ----= real data ----=")
# pd.set_option('display.max_columns', None)
# print(X.head(2))
# print("\n----= ----= null check ----=")
# print(X[X.isnull().sum(1) != 0])
# print("\n----= ----= 수치형 변수 ----=")
# print(X.describe().columns)
# print("\n----= ----= object에 수치형 껴있나 ----=")
# objCols= X.loc[:,X.dtypes == object].columns
# for idx, _ in enumerate(objCols):
#     if idx==0:
#         continue # 맨앞 것은 명백히 문자열이더라
#     print(f"{_}\n{X[_].unique()}\n")
# print("\n----= ----= 이상치: mean + 4*std < max 면 거의 확실. min도 보고----= ") # 그래도 눈으로 보는 게 특이 케이스를 더 잘 거를듯
# print(X.describe().loc[['mean','min','max','std'],:]) # 400m 가는데 0.1초도 이상하지만 100초도 너무 이상한데?
# print("\n----= ----= time check ----=")
# print(f"{time.time()-start_time:.7f} sec")

          Unnamed: 0  cyl   disp   hp  drat     wt   qsec  vs      am gear  \
0          Mazda RX4  6.0  160.0  110  3.90  2.620  16.46   0  manual    4
1      Mazda RX4 Wag  6.0  160.0  110  3.90  2.875  17.02   0  manual    4
2         Datsun 710  4.0  108.0   93  3.85  2.320  18.61   1  manual    4
3     Hornet 4 Drive  6.0  258.0  110  3.08  3.215   0.10   1    auto    3
4  Hornet Sportabout  8.0  360.0  175  3.15  3.440  17.02   0    auto    3

   carb
0     4
1     4
2     1
3     1
4     2
          Unnamed: 0  cyl   disp   hp  drat     wt   qsec  vs    am gear  carb
7          Merc 240D  NaN  146.7   62  3.69  3.190   20.0   1  auto    4     2
10         Merc 280C  6.0  167.6  123  3.92  3.440    NaN   1  auto    4     4
24  Pontiac Firebird  NaN  400.0  175  3.08  3.845  100.0   0  auto    3     2
Index(['cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs', 'carb'], dtype='object')
am
['manual' 'auto']

gear
['4' '3' '*3' '5' '*5']

            cyl        disp          hp      drat        wt        qsec  \
mean   7.600000  230.721875  146.687500  3.596563  3.217250   19.866774
min    4.000000   71.100000   52.000000  2.760000  1.513000    0.100000
max   50.000000  472.000000  335.000000  4.930000  5.424000  100.000000
std    8.194195  123.938694   68.562868  0.534679  0.978457   15.310469

            vs    carb
mean  0.437500  2.8125
min   0.000000  1.0000
max   1.000000  8.0000
std   0.504016  1.6152
0.1310017 sec

In [244]:
Y.head(5)

0    21.0
1    21.0
2    22.8
3    21.4
4    18.7
Name: mpg, dtype: float64

### 데이터 관찰 및 가공
p.234

과정
1. 종속변수에 영향없는 불필요 변수(컬럼) 제거
2. 누락된 값 수정 및 제거
3. 잘못된 값 수정 및 제거
4. 이상값 조정
5. 각 숫자 범위 동일하게 맞추기
6. 적절한 데이터 타입으로 변경
7. 문자로 구성된 범주형 데이터를 숫자형으로 변경
8. 분석에 필요한 새로운 열(파생변수) 만들기

##### 영향없는 변수 제거

In [245]:
print(X.head())

          Unnamed: 0  cyl   disp   hp  drat     wt   qsec  vs      am gear  \
0          Mazda RX4  6.0  160.0  110  3.90  2.620  16.46   0  manual    4
1      Mazda RX4 Wag  6.0  160.0  110  3.90  2.875  17.02   0  manual    4
2         Datsun 710  4.0  108.0   93  3.85  2.320  18.61   1  manual    4
3     Hornet 4 Drive  6.0  258.0  110  3.08  3.215   0.10   1    auto    3
4  Hornet Sportabout  8.0  360.0  175  3.15  3.440  17.02   0    auto    3

   carb
0     4
1     4
2     1
3     1
4     2

In [246]:
X.drop(columns='Unnamed: 0', inplace= True)
print(X.head())

   cyl   disp   hp  drat     wt   qsec  vs      am gear  carb
0  6.0  160.0  110  3.90  2.620  16.46   0  manual    4     4
1  6.0  160.0  110  3.90  2.875  17.02   0  manual    4     4
2  4.0  108.0   93  3.85  2.320  18.61   1  manual    4     1
3  6.0  258.0  110  3.08  3.215   0.10   1    auto    3     1
4  8.0  360.0  175  3.15  3.440  17.02   0    auto    3     2

In [247]:
# 혹은
# X= X.iloc[:, 1:] # 두 번째 열부터 끝까지 다시 저장

##### 결측값 처리

In [248]:
print(X.isnull().sum())

cyl     2
disp    0
hp      0
drat    0
wt      0
qsec    1
vs      0
am      0
gear    0
carb    0
dtype: int64

In [249]:
nullCheck= X.loc[X.isnull().sum(1)!=0, :]
print(nullCheck)
#print(type(nullCheck)) # DataFrame

    cyl   disp   hp  drat     wt   qsec  vs    am gear  carb
7   NaN  146.7   62  3.69  3.190   20.0   1  auto    4     2
10  6.0  167.6  123  3.92  3.440    NaN   1  auto    4     4
24  NaN  400.0  175  3.08  3.845  100.0   0  auto    3     2

##### 결측값 처리- 평균값 대치
p.238

In [250]:
# cyl
X_cyl_mean= X['cyl'].mean()
print(X_cyl_mean)

7.6

In [251]:
X['cyl'].fillna(X_cyl_mean, inplace=True)

In [252]:
nullCheck

    cyl   disp   hp  drat     wt   qsec  vs    am gear  carb
7   NaN  146.7   62  3.69  3.190   20.0   1  auto    4     2
10  6.0  167.6  123  3.92  3.440    NaN   1  auto    4     4
24  NaN  400.0  175  3.08  3.845  100.0   0  auto    3     2

In [253]:
X['cyl']

0      6.0
1      6.0
2      4.0
3      6.0
4      8.0
5      6.0
6      8.0
7      7.6
8      4.0
9      6.0
10     6.0
11     8.0
12     8.0
13     8.0
14    50.0
15     8.0
16     8.0
17     4.0
18     4.0
19     4.0
20     4.0
21     8.0
22     8.0
23     8.0
24     7.6
25     4.0
26     4.0
27     4.0
28     8.0
29     6.0
30     8.0
31     4.0
Name: cyl, dtype: float64

In [254]:
print(X.isnull().sum())

cyl     0
disp    0
hp      0
drat    0
wt      0
qsec    1
vs      0
am      0
gear    0
carb    0
dtype: int64

##### 결측값 처리- 중위값으로 대체

In [255]:
X_qsec_median= X['qsec'].median()
print(X_qsec_median)

17.6

In [256]:
# 지금은 하나 남았으니 괜찮지만, 컬럼 단위로 넣자!
# X.fillna(X_qsec_median)

In [257]:
X['qsec'].fillna(X_qsec_median, inplace=True)
print(X.iloc[10,:])

cyl       6.0
disp    167.6
hp        123
drat     3.92
wt       3.44
qsec     17.6
vs          1
am       auto
gear        4
carb        4
Name: 10, dtype: object

In [258]:
print(X.loc[X.isnull().sum(1)!=0, :]) # null 없어진 걸 확인

Empty DataFrame
Columns: [cyl, disp, hp, drat, wt, qsec, vs, am, gear, carb]
Index: []

In [259]:
print(X.isnull().sum())

cyl     0
disp    0
hp      0
drat    0
wt      0
qsec    0
vs      0
am      0
gear    0
carb    0
dtype: int64

##### 결측치 행 삭제
실전/시험 모두에서 이러면 안 되지만, 시험에서 따로 명시했을 때

In [260]:
# X.dropna()

### 잘못된 값 올바르게 변경
p.240

In [261]:
objCols= X.loc[:,X.dtypes==object].columns
for _ in objCols:
    print(f"{_}: {X[_].unique()}")

am: ['manual' 'auto']
gear: ['4' '3' '*3' '5' '*5']

In [262]:
#print(X.replace('*3','3').replace('*5','5')) # replace 같은 건 DataFrame 에 함부로 적용하면 원복이 안 된다
print(X['gear'].replace('*3','3').replace('*5','5'))

0     4
1     4
2     4
3     3
4     3
5     3
6     3
7     4
8     4
9     4
10    4
11    3
12    3
13    3
14    3
15    3
16    3
17    4
18    4
19    4
20    3
21    3
22    3
23    3
24    3
25    4
26    5
27    5
28    5
29    5
30    5
31    4
Name: gear, dtype: object

In [263]:
# 위에서 출력을 확인하고, 의도대로 되었으면 바꾼다
X['gear']= X['gear'].replace('*3','3').replace('*5','5')
print(X['gear'])

0     4
1     4
2     4
3     3
4     3
5     3
6     3
7     4
8     4
9     4
10    4
11    3
12    3
13    3
14    3
15    3
16    3
17    4
18    4
19    4
20    3
21    3
22    3
23    3
24    3
25    4
26    5
27    5
28    5
29    5
30    5
31    4
Name: gear, dtype: object

In [264]:
X['gear'].unique()

array(['4', '3', '5'], dtype=object)

##### 이상치 처리
p.242
1. 데이터 스케일링
2. 다른 값으로 교체
- 사분범위(IQR= Q3 - Q1) 활용: Q3 + 1.5*IQR= Q3 + 1.5Q3 - 1.5Q1= 2.5Q3 - 1.5Q1

In [265]:
X_describe= X.describe()
print(X_describe)

             cyl        disp          hp       drat         wt        qsec  \
count  32.000000   32.000000   32.000000  32.000000  32.000000   32.000000
mean    7.600000  230.721875  146.687500   3.596563   3.217250   19.795938
std     7.925459  123.938694   68.562868   0.534679   0.978457   15.066831
min     4.000000   71.100000   52.000000   2.760000   1.513000    0.100000
25%     4.000000  120.825000   96.500000   3.080000   2.581250   16.827500
50%     6.000000  196.300000  123.000000   3.695000   3.325000   17.600000
75%     8.000000  326.000000  180.000000   3.920000   3.610000   18.682500
max    50.000000  472.000000  335.000000   4.930000   5.424000  100.000000

              vs     carb
count  32.000000  32.0000
mean    0.437500   2.8125
std     0.504016   1.6152
min     0.000000   1.0000
25%     0.000000   2.0000
50%     0.000000   2.0000
75%     1.000000   4.0000
max     1.000000   8.0000

#### 책 안 보고 하고 싶은대로 한 것
복잡해서 기억하기 어려울 듯

In [266]:
X_Q3= X_describe.loc['75%']; print(X_Q3)
X_Q1= X_describe.loc['25%']; print(X_Q1)

X_IQR= X_describe.loc['75%'] - X_describe.loc['25%']; print(X_IQR)

# 이상치: Q3 + 1.5 * IQR 을 초과하는 것
# > 2.5*Q3 - 1.5Q1 을 초과하는 것. 왜 값이 다르지?? . Q3 +  ++++++++++++++++ !! 더하기다!

# 빼기 아니고 더하기! print(X_describe.loc['75%'] - 1.5* X_IQR)
print(X_describe.loc['75%'] + 1.5* X_IQR)

print(2.5*X_Q3 - 1.5*X_Q1)

outBoundary= 2.5*X_Q3 - 1.5*X_Q1 # 최대 경계값

# X_describe.loc[:,X_describe.loc['max'] >= outBoundary] # 굳이?
X_describe.loc['max'] >= outBoundary # 무슨 컬럼이 이상치가 있는지만 알면 충분

# 실데이터 어디에 이상치가 있는지 확인

# [dataframe compare series](https://stackoverflow.com/a/40889125) df.gt(s, axis=0)
# - lt
# gt
# le
# ge
# ne
# eq
# - axis 1 0 뭔지?

# X > outBoundary # deprecated 예정
X.ge(outBoundary, axis=1) # 컬럼 살리고 행을 기준으로 값 비교. isnull().sum(1) 에서도 컬럼 살리고 행 합할 때 '1' 쓴다.
# 전부 False 로 나옴. 의도한 게 아니다. X.ge(outBoundary, axis=0)

# axis=1 확인용
print(outBoundary['wt'])
X.iloc[16:18]

# help(X.ge) #axis : {0 or 'index', 1 or 'columns'}, default 'columns'

# X.ge(outBoundary, axis='columns')
X.ge(outBoundary)

X.loc[X.ge(outBoundary, axis='columns').sum(axis='columns') != 0]

# 뭘.. 하려고 했더라 >> [ max > 2.5Q3 - 1.5Q1 ]
# - 이상치 있어보이는 컬럼만 보기
# - 개별 값 말고 max 값만 Q3+1.5IQR 넘는 것

X_describe= X.describe()
outlierColsTF= X_describe.loc['max'] > 2.5*X_describe.loc['75%'] - 1.5*X_describe.loc['25%']
print(outlierColsTF)

# X.dtypes == object
# X.loc[:,X.dtypes == object] # 열 조건 되는거 재확인

outlierCols= X_describe.columns[outlierColsTF] # !!! T/F Columns 에서 Columns 이름 뽑아내는 방법
print(outlierCols)
# 안 되는 이유: X는 컬럼이 10개인데, X_describe는 8개라서. X.loc[:,outlierCols]

# 내가 뭘.. 하려고 했더라2
# 1. max 값이 최대경계값보다 큰 컬럼 알기
# 2. 그 컬럼 중에서
# 3. max 값이 들어있는 행만 보기

outBoundary= 2.5*X_describe.loc['75%'] - 1.5*X_describe.loc['25%']; print(outBoundary) # 최대 경계값
print()
outlierCols= X_describe.columns[X_describe.loc['max'] >= outBoundary]; print(outlierCols)
print()
X_out= X[outlierCols]
X_outlier_max= X_out[X_out.eq(X_describe.loc['max']).sum(1) !=0]
print(X_outlier_max)

# 이걸 시험장에서 어떻게 기억하누
# X[outlierCols][X[outlierCols].eq(X_describe.loc['max'], axis='columns').sum(axis='columns') !=0]

# 이렇게 간추리고도, 각 열에서 max 값이 뭔지 찾아야 한다.

cyl       8.0000
disp    326.0000
hp      180.0000
drat      3.9200
wt        3.6100
qsec     18.6825
vs        1.0000
carb      4.0000
Name: 75%, dtype: float64
cyl       4.00000
disp    120.82500
hp       96.50000
drat      3.08000
wt        2.58125
qsec     16.82750
vs        0.00000
carb      2.00000
Name: 25%, dtype: float64
cyl       4.00000
disp    205.17500
hp       83.50000
drat      0.84000
wt        1.02875
qsec      1.85500
vs        1.00000
carb      2.00000
dtype: float64
cyl      14.000000
disp    633.762500
hp      305.250000
drat      5.180000
wt        5.153125
qsec     21.465000
vs        2.500000
carb      7.000000
dtype: float64
cyl      14.000000
disp    633.762500
hp      305.250000
drat      5.180000
wt        5.153125
qsec     21.465000
vs        2.500000
carb      7.000000
dtype: float64
5.153125000000001
cyl      True
disp    False
hp       True
drat    False
wt       True
qsec     True
vs      False
carb     True
dtype: bool
Index(['cyl', 'hp', 'wt', 'qsec', 'carb'], dtype='object')
cyl      14.000000
disp    633.762500
hp      305.250000
drat      5.180000
wt        5.153125
qsec     21.465000
vs        2.500000
carb      7.000000
dtype: float64

Index(['cyl', 'hp', 'wt', 'qsec', 'carb'], dtype='object')

     cyl   hp     wt    qsec  carb
14  50.0  205  5.250   17.98     4
15   8.0  215  5.424   17.82     4
24   7.6  175  3.845  100.00     2
30   8.0  335  3.570   14.60     8

### 책 대로 + 간편 계산
p.246
1. 사분위수로 이상치 찾기
- 최대경계값 = Q3 + 1.5IQR = 2.5Q3 - 1.5Q1
- 각 열 max 값 >= 최대경계값. 각각 보기!

##### 이상치가 있을 것 같은 컬럼 확인

In [267]:
X_desc= X.describe()
outBoundaryMax= 2.5*X_desc.loc['75%'] - 1.5*X_desc.loc['25%']
print(outBoundaryMax)
outColsTF= X_desc.loc['max'] >= outBoundaryMax
print(outColsTF)

cyl      14.000000
disp    633.762500
hp      305.250000
drat      5.180000
wt        5.153125
qsec     21.465000
vs        2.500000
carb      7.000000
dtype: float64
cyl      True
disp    False
hp       True
drat    False
wt       True
qsec     True
vs      False
carb     True
dtype: bool

cyl, hp, wt, qsec, carb

In [268]:
# Max 를 굳이 찾을 필요가 없다
# float equal 계산을 믿니?

# outColsMax= X_desc.loc['max'][outColsTF]
# print(outColsMax)
#print(type(outColsMax)) # Series
# for idx, _ in zip(outColsMax.index, outColsMax):

컬럼 별로 각각 최대경계값 이상인 행 찾기

In [269]:
print(X.loc[X['cyl'] >= outBoundaryMax['cyl']])

     cyl   disp   hp  drat    wt   qsec  vs    am gear  carb
14  50.0  472.0  205  2.93  5.25  17.98   0  auto    3     4

In [270]:
outCols= X_desc.columns[outColsTF]; print(outCols)
for col in outCols:
    print(f"{col}:\n{X.loc[X[col] >= outBoundaryMax[col]]}\n")

Index(['cyl', 'hp', 'wt', 'qsec', 'carb'], dtype='object')
cyl:
     cyl   disp   hp  drat    wt   qsec  vs    am gear  carb
14  50.0  472.0  205  2.93  5.25  17.98   0  auto    3     4

hp:
    cyl   disp   hp  drat    wt  qsec  vs      am gear  carb
30  8.0  301.0  335  3.54  3.57  14.6   0  manual    5     8

wt:
     cyl   disp   hp  drat     wt   qsec  vs    am gear  carb
14  50.0  472.0  205  2.93  5.250  17.98   0  auto    3     4
15   8.0  460.0  215  3.00  5.424  17.82   0  auto    3     4
16   8.0  440.0  230  3.23  5.345  17.42   0  auto    3     4

qsec:
    cyl   disp   hp  drat     wt   qsec  vs    am gear  carb
8   4.0  140.8   95  3.92  3.150   22.9   1  auto    4     2
24  7.6  400.0  175  3.08  3.845  100.0   0  auto    3     2

carb:
    cyl   disp   hp  drat    wt  qsec  vs      am gear  carb
30  8.0  301.0  335  3.54  3.57  14.6   0  manual    5     8

### 이상치 처리- 사분위수- cyl, hp
p.246. 바로 위 결과를 눈으로 보며.

In [271]:
X.loc[14,'cyl']

50.0

In [272]:
outBoundaryMax['cyl']

14.0

In [273]:
#outBoundaryMax= 2.5*X_desc.loc['75%'] - 1.5*X_desc.loc['25%'] #X_desc= X.describe()
X.loc[14,'cyl']= outBoundaryMax['cyl']

In [274]:
X.loc[14,'cyl'] # 확인

14.0

In [275]:
X.loc[30,'hp']

335

In [276]:
outBoundaryMax['hp']

305.25

In [277]:
X.loc[30,'hp']= outBoundaryMax['hp']
print(X.loc[30,'hp'])

305.25

(최대 경계값: Q3 + 1.5*IQR) <= Max

(최소 경계값: Q1 - 1.5*IQR) >= min

In [278]:
outBoundaryMin= X_desc.loc['25%'] - 1.5 * (X_desc.loc['75%'] - X_desc.loc['25%'])
print(outBoundaryMin)

cyl      -2.000000
disp   -186.937500
hp      -28.750000
drat      1.820000
wt        1.038125
qsec     14.045000
vs       -1.500000
carb     -1.000000
dtype: float64

In [279]:
X_desc.loc['min'] <= outBoundaryMin

cyl     False
disp    False
hp      False
drat    False
wt      False
qsec     True
vs      False
carb    False
dtype: bool

### 이상치 처리- 평균 표준편차- qsec, carb
p.249

- 최대경계값: mean + 1.5*std. 이것보다 크면 이상치
- 최소경계값: mean - 1.5*std. 보다 작으면 이상치

In [280]:
# help(data.mean()) # numeric_only default True is deprecated. 추후 None 으로 바뀔 것
data.mean(numeric_only=True)
# data.loc[:,data.dtypes != object].mean()

mpg      20.090625
cyl       7.600000
disp    230.721875
hp      146.687500
drat      3.596563
wt        3.217250
qsec     19.866774
vs        0.437500
carb      2.812500
dtype: float64

In [281]:
#Error! Series 에는 이런 인자 없다. data['mpg'].std(numeric_only=True)

In [282]:
def outlierMeanStd(data, column):
    mean= data[column].mean()
    std= data[column].std()
    minBoundary= mean - 1.5*std
    maxBoundary= mean + 1.5*std
    print(f"최소경계값: {minBoundary}, 최대경계값: {maxBoundary}")
    outlier_index= data[column][ (data[column] < minBoundary) | (maxBoundary < data[column]) ].index
    return outlier_index

In [283]:
def outlierMeanStdReplace(data, column):
    mean= data[column].mean()
    std= data[column].std()
    minBoundary= mean - 1.5*std
    maxBoundary= mean + 1.5*std
    print(f"최소경계값: {minBoundary}, 최대경계값: {maxBoundary}")
    
    minBoundaryOver= data[column] < minBoundary
    maxBoundaryOver= maxBoundary < data[column]
    outlier= data[column][ minBoundaryOver | maxBoundaryOver ] # 자체가 value. 가져온다면 .index
    print(f"이상치 idx 값: {outlier}")
    
    # 둘 다 걸릴 수 있다
    if minBoundaryOver.sum():
        data.loc[outlier.index, column]= minBoundary
    if maxBoundaryOver.sum():
        data.loc[outlier.index, column]= maxBoundary
    
    return data

In [284]:
print((data[column] < minBoundary).sum())
(maxBoundary < data[column]).sum()

0

1

In [285]:
outlierMeanStd(X, 'qsec')

최소경계값: -2.8043094560577657, 최대경계값: 42.39618445605777

Int64Index([24], dtype='int64')

In [286]:
X.describe()

,cyl,disp,hp,drat,wt,qsec,vs,carb
count,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.0000
mean,6.475000,230.721875,145.757812,3.596563,3.217250,19.795938,0.437500,2.8125
std,2.198973,123.938694,66.083936,0.534679,0.978457,15.066831,0.504016,1.6152
min,4.000000,71.100000,52.000000,2.760000,1.513000,0.100000,0.000000,1.0000
25%,4.000000,120.825000,96.500000,3.080000,2.581250,16.827500,0.000000,2.0000
50%,6.000000,196.300000,123.000000,3.695000,3.325000,17.600000,0.000000,2.0000
75%,8.000000,326.000000,180.000000,3.920000,3.610000,18.682500,1.000000,4.0000
max,14.000000,472.000000,305.250000,4.930000,5.424000,100.000000,1.000000,8.0000

In [287]:
X.loc[outlierMeanStd(X, 'qsec'), 'qsec']

최소경계값: -2.8043094560577657, 최대경계값: 42.39618445605777

24    100.0
Name: qsec, dtype: float64

In [288]:
# 한 번만 실행해야 한다.

outlierMeanStdReplace(X, 'qsec')

# 한 번만 실행해야 한다.

최소경계값: -2.8043094560577657, 최대경계값: 42.39618445605777
이상치 idx 값: 24    100.0
Name: qsec, dtype: float64

     cyl   disp      hp  drat     wt       qsec  vs      am gear  carb
0    6.0  160.0  110.00  3.90  2.620  16.460000   0  manual    4     4
1    6.0  160.0  110.00  3.90  2.875  17.020000   0  manual    4     4
2    4.0  108.0   93.00  3.85  2.320  18.610000   1  manual    4     1
3    6.0  258.0  110.00  3.08  3.215   0.100000   1    auto    3     1
4    8.0  360.0  175.00  3.15  3.440  17.020000   0    auto    3     2
5    6.0  225.0  105.00  2.76  3.460  20.220000   1    auto    3     1
6    8.0  360.0  245.00  3.21  3.570  15.840000   0    auto    3     4
7    7.6  146.7   62.00  3.69  3.190  20.000000   1    auto    4     2
8    4.0  140.8   95.00  3.92  3.150  22.900000   1    auto    4     2
9    6.0  167.6  123.00  3.92  3.440  18.300000   1    auto    4     4
10   6.0  167.6  123.00  3.92  3.440  17.600000   1    auto    4     4
11   8.0  275.8  180.00  3.07  4.070  17.400000   0    auto    3     3
12   8.0  275.8  180.00  3.07  3.730  17.600000   0    auto    3     3
13   8.0  275.8  180.00  3.07  3.780  18.000000   0    auto    3     3
14  14.0  472.0  205.00  2.93  5.250  17.980000   0    auto    3     4
15   8.0  460.0  215.00  3.00  5.424  17.820000   0    auto    3     4
16   8.0  440.0  230.00  3.23  5.345  17.420000   0    auto    3     4
17   4.0   78.7   66.00  4.08  2.200  19.470000   1  manual    4     1
18   4.0   75.7   52.00  4.93  1.615  18.520000   1  manual    4     2
19   4.0   71.1   65.00  4.22  1.835  19.900000   1  manual    4     1
20   4.0  120.1   97.00  3.70  2.465  20.010000   1    auto    3     1
21   8.0  318.0  150.00  2.76  3.520  16.870000   0    auto    3     2
22   8.0  304.0  150.00  3.15  3.435  17.300000   0    auto    3     2
23   8.0  350.0  245.00  3.73  3.840  15.410000   0    auto    3     4
24   7.6  400.0  175.00  3.08  3.845  42.396184   0    auto    3     2
25   4.0   79.0   66.00  4.08  1.935  18.900000   1  manual    4     1
26   4.0  120.3   91.00  4.43  2.140  16.700000   0  manual    5     2
27   4.0   95.1  113.00  3.77  1.513  16.900000   1  manual    5     2
28   8.0  351.0  264.00  4.22  3.170  14.500000   0  manual    5     4
29   6.0  145.0  175.00  3.62  2.770  15.500000   0  manual    5     6
30   8.0  301.0  305.25  3.54  3.570  14.600000   0  manual    5     8
31   4.0  121.0  109.00  4.11  2.780  18.600000   1  manual    4     2

In [301]:
X.loc[outlierMeanStd(X, 'qsec'), 'qsec'] # outlierMeanStdReplace 실행 후 모습. 경계값이 바뀌었다.

최소경계값: 9.426792927321257, 최대경계값: 26.564843601182353

3      0.100000
24    42.396184
Name: qsec, dtype: float64

In [289]:
def swap(a,b):
    temp= b
    b=a
    a=temp
    return (a,b) #a,b 로 보내서 a,b 로 받았더니 unpack Error. 원래 되지 않았나???

In [290]:
a= 5
b= 10
swap(a,b)

(10, 5)

In [291]:
a

5

인자 전달 방식은 얕은 복사. 바뀌길 바란다면 바꾼걸 받아줘야.

얕은 복사인줄 알았는데, 함수 안에서 data.loc[outlier.index, column]= minBoundary 를 하면 바깥도 바뀌더라!
> !!

In [292]:
# 2번 실행하면 경계값이 바뀌어서 안 된다. 그냥 index 눈으로 찾아서 상수로 넣자.
# X.loc[outlierMeanStd(X, 'qsec'), 'qsec']

In [293]:
# 2번 실행하면 경계값이 바뀌어서 안 된다
# outlierMeanStdReplace(X, 'qsec')

In [294]:
X

     cyl   disp      hp  drat     wt       qsec  vs      am gear  carb
0    6.0  160.0  110.00  3.90  2.620  16.460000   0  manual    4     4
1    6.0  160.0  110.00  3.90  2.875  17.020000   0  manual    4     4
2    4.0  108.0   93.00  3.85  2.320  18.610000   1  manual    4     1
3    6.0  258.0  110.00  3.08  3.215   0.100000   1    auto    3     1
4    8.0  360.0  175.00  3.15  3.440  17.020000   0    auto    3     2
5    6.0  225.0  105.00  2.76  3.460  20.220000   1    auto    3     1
6    8.0  360.0  245.00  3.21  3.570  15.840000   0    auto    3     4
7    7.6  146.7   62.00  3.69  3.190  20.000000   1    auto    4     2
8    4.0  140.8   95.00  3.92  3.150  22.900000   1    auto    4     2
9    6.0  167.6  123.00  3.92  3.440  18.300000   1    auto    4     4
10   6.0  167.6  123.00  3.92  3.440  17.600000   1    auto    4     4
11   8.0  275.8  180.00  3.07  4.070  17.400000   0    auto    3     3
12   8.0  275.8  180.00  3.07  3.730  17.600000   0    auto    3     3
13   8.0  275.8  180.00  3.07  3.780  18.000000   0    auto    3     3
14  14.0  472.0  205.00  2.93  5.250  17.980000   0    auto    3     4
15   8.0  460.0  215.00  3.00  5.424  17.820000   0    auto    3     4
16   8.0  440.0  230.00  3.23  5.345  17.420000   0    auto    3     4
17   4.0   78.7   66.00  4.08  2.200  19.470000   1  manual    4     1
18   4.0   75.7   52.00  4.93  1.615  18.520000   1  manual    4     2
19   4.0   71.1   65.00  4.22  1.835  19.900000   1  manual    4     1
20   4.0  120.1   97.00  3.70  2.465  20.010000   1    auto    3     1
21   8.0  318.0  150.00  2.76  3.520  16.870000   0    auto    3     2
22   8.0  304.0  150.00  3.15  3.435  17.300000   0    auto    3     2
23   8.0  350.0  245.00  3.73  3.840  15.410000   0    auto    3     4
24   7.6  400.0  175.00  3.08  3.845  42.396184   0    auto    3     2
25   4.0   79.0   66.00  4.08  1.935  18.900000   1  manual    4     1
26   4.0  120.3   91.00  4.43  2.140  16.700000   0  manual    5     2
27   4.0   95.1  113.00  3.77  1.513  16.900000   1  manual    5     2
28   8.0  351.0  264.00  4.22  3.170  14.500000   0  manual    5     4
29   6.0  145.0  175.00  3.62  2.770  15.500000   0  manual    5     6
30   8.0  301.0  305.25  3.54  3.570  14.600000   0  manual    5     8
31   4.0  121.0  109.00  4.11  2.780  18.600000   1  manual    4     2

In [295]:
a,b= swap(a,b)
a

10

In [296]:
column= 'qsec'
mean= data[column].mean()
std= data[column].std()
minBoundary= mean - 1.5*std
maxBoundary= mean + 1.5*std

In [297]:
outlier= data[column][ (data[column] < minBoundary) | (maxBoundary < data[column]) ]
# help(outlier)
print(outlier > 99)
outlier # 이거 자체가 100.0
# outlier_index= outlier.index
# print(outlier_index)

24    True
Name: qsec, dtype: bool

24    100.0
Name: qsec, dtype: float64

index 를 굳이 반환하는 이유: 바꾸려고
> index 가 없어도 바꾸는 방법?

In [298]:
data[column][(data[column] < minBoundary) | (maxBoundary < data[column])]

24    100.0
Name: qsec, dtype: float64

In [299]:
# X.dtypes == object
# X.loc[:,X.dtypes == object] # 열 조건 되는거 재확인

carb

In [303]:
X['carb'].describe()

count    32.0000
mean      2.8125
std       1.6152
min       1.0000
25%       2.0000
50%       2.0000
75%       4.0000
max       8.0000
Name: carb, dtype: float64

In [304]:
outlierMeanStd(X,'carb')

최소경계값: 0.3897000335522218, 최대경계값: 5.235299966447778

Int64Index([29, 30], dtype='int64')

In [306]:
X.loc[29:30,'carb']

29    6
30    8
Name: carb, dtype: int64

In [307]:
outlierMeanStdReplace(X, 'carb')

최소경계값: 0.3897000335522218, 최대경계값: 5.235299966447778
이상치 idx 값: 29    6
30    8
Name: carb, dtype: int64

     cyl   disp      hp  drat     wt       qsec  vs      am gear    carb
0    6.0  160.0  110.00  3.90  2.620  16.460000   0  manual    4  4.0000
1    6.0  160.0  110.00  3.90  2.875  17.020000   0  manual    4  4.0000
2    4.0  108.0   93.00  3.85  2.320  18.610000   1  manual    4  1.0000
3    6.0  258.0  110.00  3.08  3.215   0.100000   1    auto    3  1.0000
4    8.0  360.0  175.00  3.15  3.440  17.020000   0    auto    3  2.0000
5    6.0  225.0  105.00  2.76  3.460  20.220000   1    auto    3  1.0000
6    8.0  360.0  245.00  3.21  3.570  15.840000   0    auto    3  4.0000
7    7.6  146.7   62.00  3.69  3.190  20.000000   1    auto    4  2.0000
8    4.0  140.8   95.00  3.92  3.150  22.900000   1    auto    4  2.0000
9    6.0  167.6  123.00  3.92  3.440  18.300000   1    auto    4  4.0000
10   6.0  167.6  123.00  3.92  3.440  17.600000   1    auto    4  4.0000
11   8.0  275.8  180.00  3.07  4.070  17.400000   0    auto    3  3.0000
12   8.0  275.8  180.00  3.07  3.730  17.600000   0    auto    3  3.0000
13   8.0  275.8  180.00  3.07  3.780  18.000000   0    auto    3  3.0000
14  14.0  472.0  205.00  2.93  5.250  17.980000   0    auto    3  4.0000
15   8.0  460.0  215.00  3.00  5.424  17.820000   0    auto    3  4.0000
16   8.0  440.0  230.00  3.23  5.345  17.420000   0    auto    3  4.0000
17   4.0   78.7   66.00  4.08  2.200  19.470000   1  manual    4  1.0000
18   4.0   75.7   52.00  4.93  1.615  18.520000   1  manual    4  2.0000
19   4.0   71.1   65.00  4.22  1.835  19.900000   1  manual    4  1.0000
20   4.0  120.1   97.00  3.70  2.465  20.010000   1    auto    3  1.0000
21   8.0  318.0  150.00  2.76  3.520  16.870000   0    auto    3  2.0000
22   8.0  304.0  150.00  3.15  3.435  17.300000   0    auto    3  2.0000
23   8.0  350.0  245.00  3.73  3.840  15.410000   0    auto    3  4.0000
24   7.6  400.0  175.00  3.08  3.845  42.396184   0    auto    3  2.0000
25   4.0   79.0   66.00  4.08  1.935  18.900000   1  manual    4  1.0000
26   4.0  120.3   91.00  4.43  2.140  16.700000   0  manual    5  2.0000
27   4.0   95.1  113.00  3.77  1.513  16.900000   1  manual    5  2.0000
28   8.0  351.0  264.00  4.22  3.170  14.500000   0  manual    5  4.0000
29   6.0  145.0  175.00  3.62  2.770  15.500000   0  manual    5  5.2353
30   8.0  301.0  305.25  3.54  3.570  14.600000   0  manual    5  5.2353
31   4.0  121.0  109.00  4.11  2.780  18.600000   1  manual    4  2.0000

In [300]:
print(f"{time.time()-start_time} sec") # 1.59 sec

1.598999261856079 sec