setting: p.213~
- [학습 데이터](https://github.com/7ieon/bigData) git clone https://github.com/7ieon/bigData.git

실행시간이 1s 를 넘기면 안된다. 제출 전에 확인하자
- [python runtime check](https://seulcode.tistory.com/245)

In [164]:
import time # 내장함수
start_time = time.time()

for idx, a in enumerate(range(100000)):
    if idx % 1000 == 0:
        pass
    
print(f"{time.time()-start_time} sec") # 0.032~0.051 매번 다르다

0.03399944305419922 sec

# 데이터 분석 절차 체득하기1
실습: p.222~

In [3]:
!ls

bigData
data
j.bat
鍮낅텇湲캰art2.ipynb
鍮낅텇湲캰art3.ipynb
移댁뭅�삤�넚 諛쏆�� �뙆�씪 - 諛붾줈 媛�湲�.lnk

bigData
- bike_x_test.csv
- bike_x_train.csv
- bike_y_train.csv
- boston.csv
- mtcars.csv
- titanic_x_test.csv
- titanic_x_train.csv
- titanic_y_train.csv
- x_test.csv
- x_train.csv
- y_train.csv

### 데이터 준비하기: 데이터 로드
p.225

In [4]:
import pandas as pd

In [5]:
data= pd.read_csv('bigData/mtcars.csv')

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  32 non-null     object
 1   mpg         32 non-null     float64
 2   cyl         30 non-null     float64
 3   disp        32 non-null     float64
 4   hp          32 non-null     int64
 5   drat        32 non-null     float64
 6   wt          32 non-null     float64
 7   qsec        31 non-null     float64
 8   vs          32 non-null     int64
 9   am          32 non-null     object
 10  gear        32 non-null     object
 11  carb        32 non-null     int64
dtypes: float64(6), int64(3), object(3)
memory usage: 3.1+ KB

dtype 이 int64 이면 방심하면 안 된다. 범주형변수 일수도 있다. (p.229)
> value_counts() 로 알아보기

In [42]:
#help(data)
print(type(data.nunique()))
data.nunique() # value_counts() 보다 먼저 보면 좋을. 손이 덜 간다

<class 'pandas.core.series.Series'>

Unnamed: 0    32
mpg           25
cyl            4
disp          27
hp            22
drat          22
wt            29
qsec          30
vs             2
am             2
gear           5
carb           6
dtype: int64

## 데이터의 모양과 구조, 특징 파악
p.226~231

In [52]:
factorDoubt= data.loc[:,data.nunique() <10].columns; factorDoubt

Index(['cyl', 'vs', 'am', 'gear', 'carb'], dtype='object')

In [37]:
#data.unique() # Error ! unique() 는 Series 로만 가능
#data[['cyl']].unique() # Error! 여전히 DataFrame 이다 
data['cyl'].unique()

array([ 6.,  4.,  8., nan, 50.])

In [38]:
data[['cyl','vs','am','gear','carb']].value_counts() # 종류가 몇 개 안 된다면 이렇게도 가능한데, 직관적이진 않다.

cyl   vs  am      gear  carb
4.0   1   manual  4     1       4
8.0   0   auto    3     4       4
                        2       3
6.0   1   auto    3     1       2
4.0   1   manual  4     2       2
6.0   0   manual  4     4       2
8.0   0   auto    3     3       2
6.0   1   auto    4     4       2
8.0   0   manual  5     8       1
                  *5    4       1
4.0   0   manual  5     2       1
8.0   0   auto    *3    3       1
4.0   1   auto    3     1       1
6.0   0   manual  5     6       1
4.0   1   manual  5     2       1
          auto    4     2       1
50.0  0   auto    3     4       1
dtype: int64

In [54]:
#factorDoubt= ['cyl','vs','am','gear','carb']
for _ in factorDoubt:
    print(data[_].unique())

[ 6.  4.  8. nan 50.]
[0 1]
['manual' 'auto']
['4' '3' '*3' '5' '*5']
[4 1 2 3 6 8]

In [58]:
print(data[factorDoubt].info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   cyl     30 non-null     float64
 1   vs      32 non-null     int64
 2   am      32 non-null     object
 3   gear    32 non-null     object
 4   carb    32 non-null     int64
dtypes: float64(1), int64(2), object(2)
memory usage: 1.4+ KB
None

In [28]:
#help(data)
# data[['hp','vs','carb']].value_counts()
# data[['vs','carb']].value_counts()

data[['vs']].value_counts() # 0 1
# data[['carb']].value_counts() # 1 2 3 4 6 8

vs
0     18
1     14
dtype: int64

data 설명: p.222
- mtcars: 32종 자동차의 디자인/ 성능 특성/ 연비 정보. mpg 가 알고 싶은 종속변수, 나머지가 독립변수
- hp: 마력
- vs: V형 엔진(V) or 직렬 엔진(S)
- carb: 기화기 개수

In [9]:
# print(data[data.isnull().sum(1) !=0]) # 시험 환경
data[data.isnull().sum(1) !=0]

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
7,Merc 240D,24.4,NaN,146.7,62,3.69,3.190,20.0,1,auto,4,2
10,Merc 280C,17.8,6.0,167.6,123,3.92,3.440,NaN,1,auto,4,4
24,Pontiac Firebird,19.2,NaN,400.0,175,3.08,3.845,100.0,0,auto,3,2

In [29]:
print(data.head()) # 실제로 어떻게 생겼는지도 봐두면 좋다.

          Unnamed: 0   mpg  cyl   disp   hp  drat     wt   qsec  vs      am  \
0          Mazda RX4  21.0  6.0  160.0  110  3.90  2.620  16.46   0  manual
1      Mazda RX4 Wag  21.0  6.0  160.0  110  3.90  2.875  17.02   0  manual
2         Datsun 710  22.8  4.0  108.0   93  3.85  2.320  18.61   1  manual
3     Hornet 4 Drive  21.4  6.0  258.0  110  3.08  3.215   0.10   1    auto
4  Hornet Sportabout  18.7  8.0  360.0  175  3.15  3.440  17.02   0    auto

  gear  carb
0    4     4
1    4     4
2    4     1
3    3     1
4    3     2

In [19]:
print(data.shape)
print(type(data.shape))
print(data.shape[1]) # typle index => length 대용으로 사용 가능할듯

(32, 12)
<class 'tuple'>
12

In [21]:
print(type(data))

<class 'pandas.core.frame.DataFrame'>

In [59]:
print(data.columns)

Index(['Unnamed: 0', 'mpg', 'cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs',
       'am', 'gear', 'carb'],
      dtype='object')

In [60]:
data.head(1)

  Unnamed: 0   mpg  cyl   disp   hp  drat    wt   qsec  vs      am gear  carb
0  Mazda RX4  21.0  6.0  160.0  110   3.9  2.62  16.46   0  manual    4     4

In [62]:
print(data.describe())

             mpg        cyl        disp          hp       drat         wt  \
count  32.000000  30.000000   32.000000   32.000000  32.000000  32.000000
mean   20.090625   7.600000  230.721875  146.687500   3.596563   3.217250
std     6.026948   8.194195  123.938694   68.562868   0.534679   0.978457
min    10.400000   4.000000   71.100000   52.000000   2.760000   1.513000
25%    15.425000   4.000000  120.825000   96.500000   3.080000   2.581250
50%    19.200000   6.000000  196.300000  123.000000   3.695000   3.325000
75%    22.800000   8.000000  326.000000  180.000000   3.920000   3.610000
max    33.900000  50.000000  472.000000  335.000000   4.930000   5.424000

             qsec         vs     carb
count   31.000000  32.000000  32.0000
mean    19.866774   0.437500   2.8125
std     15.310469   0.504016   1.6152
min      0.100000   0.000000   1.0000
25%     16.785000   0.000000   2.0000
50%     17.600000   0.000000   2.0000
75%     18.755000   1.000000   4.0000
max    100.000000   1.000000   8.0000

### describe() 해석
##### 숫자형 변수가 8개이다
1. describe() 로 결과를 낼 수 있는 게 9열
2. vs 는 사분위수가 너무 깔끔 => 0,1 로 된 factor
3. 나머지 변수 => 사전에 변수 설명을 읽고 describe() 를 보니 factor 가 아니라 실제 값일 것

##### 뭔가 이상한 것 찾기
1. min max 를 주의 깊게 보자. mean 과 비교하며
2. cyl 은 엔진 기통수인데 50개가 달린 차가 있다 ??? 항공모함인가..
3. psec 은 1/4 mile(약 402m) 가는데 걸리는 시간인데, 0.1초만에 가는 차가 있다??? 초속 4km..

##### 수치형 데이터가 뭐뭐있나
describe 로 본거랑 실제 데이터랑 개수가 다르네?

In [73]:
data.describe().shape[1] # 9열. 수치형 데이터인 변수 개수. 느려보이지만 확실.

9

In [87]:
# help(data)
# data.loc[:,data.dtypes != 'object'].shape[1]# 수치형 데이터인 변수 개수2. 여기서는 맞았지만 확신은 X

In [88]:
data.head(2) # 10개로 보임

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6.0,160.0,110,3.9,2.620,16.46,0,manual,4,4
1,Mazda RX4 Wag,21.0,6.0,160.0,110,3.9,2.875,17.02,0,manual,4,4

컬럼이 많아서 생략(...) 될 경우

[python head all columns](https://towardsdatascience.com/how-to-show-all-columns-rows-of-a-pandas-dataframe-c49d4507fcf)

In [ ]:
pd.set_option('display.max_columns', None)

In [118]:
# help(pd.set_option) - 이걸로 위 형태를 알아낼 수 없다
# 클라우드 환경에서 먹힐지도 미지수

##### 눈으로 대조 
컬럼 20개 넘어가면 어려운 방법

In [92]:
data.dtypes # 눈으로 대조 => gear 가 object

Unnamed: 0     object
mpg           float64
cyl           float64
disp          float64
hp              int64
drat          float64
wt            float64
qsec          float64
vs              int64
am             object
gear           object
carb            int64
dtype: object

##### 수치형인데 문자형으로 되어있는 경우- 방법2: factor 찾다가 우연히 얻어걸린 방법
gear에 이상한 데이터가 껴있구나!

In [100]:
# data.nunique()

In [99]:
factorDoubt= data.loc[:,data.nunique() < 10].columns
for _ in factorDoubt:
    print(f"{_}: {data[_].unique()}")

cyl: [ 6.  4.  8. nan 50.]
vs: [0 1]
am: ['manual' 'auto']
gear: ['4' '3' '*3' '5' '*5']
carb: [4 1 2 3 6 8]

##### 수치형인데 문자형으로 되어있는 경우- 방법1
문자형 데이터에 value_counts() 로 구성요소 뜯어보기

In [114]:
numberDoubt= data.loc[:,data.dtypes == object].columns
for _ in numberDoubt:
    print(f"{_}:\n{data[_].value_counts()}\n")

Unnamed: 0:
Mazda RX4              1
Mazda RX4 Wag          1
Maserati Bora          1
Ferrari Dino           1
Ford Pantera L         1
Lotus Europa           1
Porsche 914-2          1
Fiat X1-9              1
Pontiac Firebird       1
Camaro Z28             1
AMC Javelin            1
Dodge Challenger       1
Toyota Corona          1
Toyota Corolla         1
Honda Civic            1
Fiat 128               1
Chrysler Imperial      1
Lincoln Continental    1
Cadillac Fleetwood     1
Merc 450SLC            1
Merc 450SL             1
Merc 450SE             1
Merc 280C              1
Merc 280               1
Merc 230               1
Merc 240D              1
Duster 360             1
Valiant                1
Hornet Sportabout      1
Hornet 4 Drive         1
Datsun 710             1
Volvo 142E             1
Name: Unnamed: 0, dtype: int64

am:
auto      19
manual    13
Name: am, dtype: int64

gear:
3     14
4     12
5      4
*3     1
*5     1
Name: gear, dtype: int64

### 상관관계
너무 밀접(1)하면 동일하다 보고 하나만 선택하고, 너무 무관(0)하면 관계없다고 보고 변수에서 제외

In [167]:
#type(data.corr()) # DataFrame
corr= data.corr(); corr

,mpg,cyl,disp,hp,drat,wt,qsec,vs,carb
mpg,1.000000,-0.460227,-0.847551,-0.776168,0.681172,-0.867659,0.013668,0.664039,-0.550925
cyl,-0.460227,1.000000,0.544876,0.323293,-0.372671,0.533690,-0.012755,-0.323960,0.239980
disp,-0.847551,0.544876,1.000000,0.790949,-0.710214,0.887980,0.181810,-0.710416,0.394977
hp,-0.776168,0.323293,0.790949,1.000000,-0.448759,0.658748,0.010807,-0.723097,0.749812
drat,0.681172,-0.372671,-0.710214,-0.448759,1.000000,-0.712441,-0.120283,0.440278,-0.090790
wt,-0.867659,0.533690,0.887980,0.658748,-0.712441,1.000000,0.093900,-0.554916,0.427606
qsec,0.013668,-0.012755,0.181810,0.010807,-0.120283,0.093900,1.000000,-0.112146,-0.120312
vs,0.664039,-0.323960,-0.710416,-0.723097,0.440278,-0.554916,-0.112146,1.000000,-0.569607
carb,-0.550925,0.239980,0.394977,0.749812,-0.090790,0.427606,-0.120312,-0.569607,1.000000

In [179]:
(0.8 <= corr) # 양의 상관관계. 대각행렬 제외하고 True 인 경우: wt무게 ~ disp배기량

        mpg    cyl   disp     hp   drat     wt   qsec     vs   carb
mpg    True  False  False  False  False  False  False  False  False
cyl   False   True  False  False  False  False  False  False  False
disp  False  False   True  False  False   True  False  False  False
hp    False  False  False   True  False  False  False  False  False
drat  False  False  False  False   True  False  False  False  False
wt    False  False   True  False  False   True  False  False  False
qsec  False  False  False  False  False  False   True  False  False
vs    False  False  False  False  False  False  False   True  False
carb  False  False  False  False  False  False  False  False   True

In [180]:
(corr <= -0.8) # 음의 상관관계. mpg연비 ~ disp배기량, mpg연비~wt무게

        mpg    cyl   disp     hp   drat     wt   qsec     vs   carb
mpg   False  False   True  False  False   True  False  False  False
cyl   False  False  False  False  False  False  False  False  False
disp   True  False  False  False  False  False  False  False  False
hp    False  False  False  False  False  False  False  False  False
drat  False  False  False  False  False  False  False  False  False
wt     True  False  False  False  False  False  False  False  False
qsec  False  False  False  False  False  False  False  False  False
vs    False  False  False  False  False  False  False  False  False
carb  False  False  False  False  False  False  False  False  False

[python dataframe or](https://ponyozzang.tistory.com/608)
- df[(df['age'] < 20) | (df['point'] > 90)]
- any 는 동일 Series (혹은 동일 컬럼, 동일 DataFrame) 안에서 True/False 판별하는 것

In [189]:
# 동시에 보면서도 양/음 확인 가능한 방법
corr[(corr <= -0.8) | (0.8 <= corr)]

           mpg  cyl      disp   hp  drat        wt  qsec   vs  carb
mpg   1.000000  NaN -0.847551  NaN   NaN -0.867659   NaN  NaN   NaN
cyl        NaN  1.0       NaN  NaN   NaN       NaN   NaN  NaN   NaN
disp -0.847551  NaN  1.000000  NaN   NaN  0.887980   NaN  NaN   NaN
hp         NaN  NaN       NaN  1.0   NaN       NaN   NaN  NaN   NaN
drat       NaN  NaN       NaN  NaN   1.0       NaN   NaN  NaN   NaN
wt   -0.867659  NaN  0.887980  NaN   NaN  1.000000   NaN  NaN   NaN
qsec       NaN  NaN       NaN  NaN   NaN       NaN   1.0  NaN   NaN
vs         NaN  NaN       NaN  NaN   NaN       NaN   NaN  1.0   NaN
carb       NaN  NaN       NaN  NaN   NaN       NaN   NaN  NaN   1.0

mpg 연비, disp 배기량, wt 무게
##### [mpg 와 disp], [mpg 와 wt] 음의 상관관계 강함 => mpg는 종속변수이니 독립변수로 disp 나 wt 가 유력
##### [disp 와 wt] 양의 상관관계 강함 => 둘 중 하나만 써도 될? 것

In [184]:
# T-F T-T 뭐일때 T 로 반환할지 의도가 불분명하므로 Error (0.8 <= corr) or (corr <= -0.8)

In [173]:
# help(corr.any) # Examples > >>> pd.Series([False, False]).any()    # False

In [183]:
# 시행착오. any는 각 Series 내부에서 계산하는 용도. pd.Series([0.8<=corr, corr<=-0.8]).any()

In [190]:
corr[((-0.1<=corr) & (corr<=0.1))]

,mpg,cyl,disp,hp,drat,wt,qsec,vs,carb
mpg,NaN,NaN,NaN,NaN,NaN,NaN,0.013668,NaN,NaN
cyl,NaN,NaN,NaN,NaN,NaN,NaN,-0.012755,NaN,NaN
disp,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
hp,NaN,NaN,NaN,NaN,NaN,NaN,0.010807,NaN,NaN
drat,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.09079
wt,NaN,NaN,NaN,NaN,NaN,NaN,0.093900,NaN,NaN
qsec,0.013668,-0.012755,NaN,0.010807,NaN,0.0939,NaN,NaN,NaN
vs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
carb,NaN,NaN,NaN,NaN,-0.09079,NaN,NaN,NaN,NaN

mpg 연비(종속변수), qsec 400m 가는데 걸리는 시간, cyl 엔진 기통 수, hp 마력, wt 무게, // drat 뒤 차축비(rear axle ratio), carb 기화기 개수
##### mpg연비 와 qsec 은 별 상관이 없다 => 종속변수 알아보는데 qsec 은 빼도 될 것 같다.
##### qsec 과 mpg,cyl,hp, wt 는 별 상관이 없다 => 다 독립변수라서 분석에 영향은 없을 것
##### drat 와 carb 는 별 상관이 없다 => 다 독립변수라서 분석에 영향은 없을 것